[2018-10-01 05:42] BennyCarlsson opened #5 "Styling"
The website looks really boring now. It needs some css and styling :)

[2018-10-01 05:49] BennyCarlsson opened #6 "Add other projects"
Under **Helpful Material** -> **Other projects** add some other good projects that people can contribute to. Either your own project or any that you find interesting

[2018-10-01 05:50] BennyCarlsson opened #7 "Add More guides"
Add more guides for making pull request under **Helpful Links**

[2018-10-01 06:36] amrs-tech commented on #5
Please assign this to me. I'll try to add more styles.

[2018-10-01 07:04] Danishkhan97 commented on #5
I am already working on this issue. @amrs-tech @BennyCarlsson

[2018-10-01 07:06] Ayaz1997 commented on #7
I am contributing on guides @BennyCarlsson

[2018-10-01 07:43] BennyCarlsson commented on #5
@amrs-tech @Danishkhan97 The only issue is that merge conflicts might occur that needs to be resolved before a merge. But multiple people can and should work on this issue since styling will never be "done" :)

[2018-10-01 07:45] amrs-tech commented on #5
@BennyCarlsson Okay :)

[2018-10-01 08:12] CleverFool77 opened #18 "Add Navbar and a footer"
Currently the website lacks proper navbar and footer,It will look better if we can add both.

[2018-10-01 08:33] richie-south commented on #18
Great idea!

[2018-10-01 08:47] Danishkhan97 commented on #7
I can help you with that.

[2018-10-01 08:53] CleverFool77 opened #23 "Add good font and background"
Currently the website lacks good font to distinguish between heading and contents.
Change the background with either with pastel color or a image , either one of these with better background.

[2018-10-01 08:59] CleverFool77 opened #24 "Arrange videos in a bootstrap grid"
Currently the videos are not positioned properly, arranging them in a bootstrap grid will make the videos section look better.

[2018-10-01 09:16] sigiasd commented on #18
Working on it. Will be my first ever Github Work :D

[2018-10-01 09:34] pvn6396 commented on #24
Done in pull request #32

[2018-10-01 09:35] pvn6396 commented on #18
#32 **pull request**
Added a collapsible navbar with styling

[2018-10-01 09:47] sigiasd commented on #18
#36
Tried doing it in the style of the site

[2018-10-01 10:27] Quantumf0x commented on #23
I want this ticket :)

[2018-10-01 10:38] CleverFool77 opened #47 "adjust navbar according to adjustable length of browsers and desktops"
The navbar is just covering half of the screen in one desktop/browser or going out of bounds in another.Adjust needed

[2018-10-01 10:42] richie-south commented on #47
Yes this is critical!

[2018-10-01 10:44] BennyCarlsson opened #48 "Add new features"
Features are awesome and we love them.
Please add more features <3

[2018-10-01 11:59] Sangatdas commented on #47
Can I use bootstrap?? Or should I only use media queries?

[2018-10-01 12:02] richie-south commented on #47
You can use bootstrap if you want 😉

[2018-10-01 12:59] leighayanid opened #61 "can we ditch twitter bootstrap and use css grid instead?"

[2018-10-01 13:00] BennyCarlsson commented on #61
Yes feel free to change that :) however leave the bootstrap dependancy if someone uses it for something else ;)

[2018-10-01 13:28] itsVagabond commented on #18
#63 Tried doing some styling

[2018-10-01 15:29] richie-south opened #78 "Have consistent header-menu and footer on index, helpful-material and contributors pages"

[2018-10-01 15:53] CleverFool77 opened #81 "Adjust positioning of Social Links with respect to all browsers and desktop"
The social links are not visible in one browser or is half hidden in another.

[2018-10-01 15:57] CleverFool77 opened #82 "Styling the contents in navbar with positioing, font, color and the change in color wiht hover"

[2018-10-01 16:00] CleverFool77 opened #83 "Proper Styling of Helpful Material html page"
Currently some data is being shown in bullet points.
It would be better to have proper arrangements of all helpful materials in a presentable manner.

[2018-10-01 16:04] richie-south commented on #5
Thanks everyone for the design help! I think we have a solid design base so i'm closing this issue for now. Focus should instead be on getting the other pages up to speed and fixing overall quirks (colors, css buggs, and overall minor design improvements)

[2018-10-01 16:04] #5 closed

[2018-10-01 16:09] richie-south opened #85 "FAQ, last item disappears"
Last item of the FAQ list disappears on larger screens and animates in / out all the time on smaller ones

[GIF OF ISSUE](https://imgur.com/a/gkdeRZF)

[2018-10-01 16:30] #18 closed

[2018-10-01 16:32] #24 closed

[2018-10-01 16:42] smokyabdulrahman commented on #85
could you assign me to solve this issue, please?

[2018-10-01 16:48] #85 closed

[2018-10-01 16:49] richie-south commented on #85
@smokyabdulrahman Sorry this issue should have been closed almost right after i opened it :)

[2018-10-01 16:51] richie-south opened #89 "Mobile menu won't open"

[2018-10-01 16:55] #78 closed

[2018-10-01 16:59] richie-south opened #90 "Sort all lists on "Helpful Material" page"

[2018-10-01 17:00] richie-south opened #92 "Change the main colors to match https://lingonsaft.com"
I like red 🔴

[2018-10-01 17:06] kwaimind commented on #89
I can take a swing at this. Can you assign it to me?

[2018-10-01 17:06] SergioMD15 commented on #90
I'd like to help in this

[2018-10-01 17:07] richie-south commented on #89
Yea sure go ahead @kwaimind 😃

[2018-10-01 17:10] arihantbansal commented on #92
Exactly what is to be done?

[2018-10-01 17:11] richie-south commented on #92
Right now the main colors of https://hacktoberfest.lingonsaft.com/ are blue (header menu, links?) could we change the colors to match  https://lingonsaft.com/ colors which are red

[2018-10-01 17:12] versavale commented on #92
Sure thing! Happy to work on that :)

[2018-10-01 17:12] richie-south commented on #90
@SergioMD15  Then give it a go 😄

[2018-10-01 17:16] richie-south commented on #92
@versavale Great 👑

[2018-10-01 17:17] MylenaMB commented on #90
What is to be done?

[2018-10-01 17:18] agampreetsingh commented on #92
Will really be happy to work on the issue! :)

[2018-10-01 17:18] mukul-kgp commented on #92
I would like to contribute!

[2018-10-01 17:31] richie-south commented on #92
Oo and also i just merged a pull request that changed layout design and also colors to black could we get this to red again? 🔙

[2018-10-01 17:33] kwaimind commented on #89
Done. Let me know if you need any more changes before merging.

[2018-10-01 17:34] richie-south commented on #89
@kwaimind Added a comment on your pr 😺

[2018-10-01 17:35] richie-south commented on #90
@MylenaMB The lists "Other Projects", "Helpful Links" and "Guides" on Helpful Material page should be sorted in ascending order 😃

[2018-10-01 17:50] mukul-kgp commented on #90
#105 Done!

[2018-10-01 17:53] versavale commented on #92
Yup! On it :) Finished with the navbars, moving on to links. Pull request coming soon!

[2018-10-01 18:07] richie-south commented on #92
@versavale Great 😃

[2018-10-01 18:13] #89 closed

[2018-10-01 18:36] BennyCarlsson opened #112 "Mobile design. Youtube video to big"
On smaller devices the width on the youtube video is to big on the frontpage.

[2018-10-01 18:37] BennyCarlsson opened #113 "Mobile contribution page to large width"
On smaller devices the contribution page has a to big width so you get a horizontal scroll

[2018-10-01 18:38] richie-south commented on #92
Closing this with the power of @versavale pull request 🦀

[2018-10-01 18:38] #92 closed

[2018-10-01 18:38] BennyCarlsson opened #114 "Navbar doesn't show active page"
The navbar doesn't show what page is active of the three

[2018-10-01 18:41] #23 closed

[2018-10-01 18:42] richie-south opened #115 "Remove the duplicated "Contribution Rules" on index page?"

[2018-10-01 18:42] #47 closed

[2018-10-01 18:43] #61 closed

[2018-10-01 18:43] BennyCarlsson commented on #61
@leighayanid anyone working on this? feel free to open again if not I will close this

[2018-10-01 18:44] icy-meteor commented on #112
Looks fine to me.

[2018-10-01 18:44] #82 closed

[2018-10-01 18:44] BennyCarlsson commented on #82
This looks like it's done :)

[2018-10-01 18:45] radlinskii commented on #115
I can take this

[2018-10-01 18:45] #115 closed

[2018-10-01 18:46] richie-south commented on #115
@radlinskii Sorry it just got closed. But we have lots of other issues! 😃

[2018-10-01 18:46] BennyCarlsson commented on #112
Aha looks like the video is not to big anymore but still horizontal scrolling on front page

[2018-10-01 18:47] theblindprophet commented on #114
Woking on it.

[2018-10-01 18:48] PatricNox commented on #114
@theblindprophet You commented just as I were completing it, sorry! :(

[2018-10-01 18:52] #114 closed

[2018-10-01 18:53] radlinskii commented on #113
Can I take this one? 😄

[2018-10-01 18:55] sarthakbhutani commented on #113
Can I work on this one, if no one else is working on it?

[2018-10-01 18:56] richie-south opened #121 "The footer blocks Guides list on helpful-material page"
Add some margin to the bottom of helpful-material to fix this 🥇

[2018-10-01 18:57] richie-south commented on #113
@radlinskii Yes sure give it a go 👍

[2018-10-01 19:04] emorraa commented on #121
Hi, can I take and fix this issue?

[2018-10-01 19:06] richie-south commented on #121
@emorraa Yes go ahead! 😃

[2018-10-01 19:07] emorraa commented on #121
Thank you, I'm a newbie, hope that I'll fix that! :-)

[2018-10-01 19:29] #113 closed

[2018-10-01 19:30] uditwapt commented on #121
@emorraa can i try also on the same issue ?

[2018-10-01 19:33] emorraa commented on #121
for sure.

[2018-10-01 19:33] uditwapt commented on #112
Can i try to work on it? I m very newbie on this same. If you allow i would like to try once.

[2018-10-01 19:35] richie-south commented on #112
@uditwapt Yes go ahead 🐝

[2018-10-01 19:40] emorraa commented on #121
I see that someone added some <br>. Is this accepted? :/

[2018-10-01 20:17] emorraa commented on #121
@richie-south Hey, in what sense I have to add an Image? []((https://github.com/lingonsaft/hacktoberfest#contribution-rules))

[2018-10-01 21:38] kwaimind opened #145 "Migrate site to a static generator"
Suggest we move the site to something like [pugjs](https://pugjs.org/api/getting-started.html) to handle templates and basic layouts. As this site develops things like consistent menu links, content blocks, and more are being left behind :(

Will need some tweaks to the build process too so the repo is compiled and then uploaded to the server.

I'm happy to do the template stuff. Will need help fo

[2018-10-01 22:00] djdany01 opened #148 "Overflow-x"
There is an overflow-x auto.
Change to hidden because has not purpose.

[2018-10-01 22:00] djdany01 commented on #148
Working :D

[2018-10-01 23:04] leighayanid commented on #61
apologies for the late reply. Yes, I will be working on this :)

[2018-10-02 04:42] BennyCarlsson commented on #145
Hmm will this add a build step? Because it's important that we keep the project simple so that anyone can work on it. The most important part is that if you clone the project the only thing you need to do is open index.html to make it work :)

[2018-10-02 04:52] BennyCarlsson opened #164 "The contribution list is broken"
The end of the contribution list is broken. Anyone feel like fixing it?

[2018-10-02 05:02] BennyCarlsson commented on #164
this issue is fixed

[2018-10-02 05:02] #164 closed

[2018-10-02 05:15] kwaimind commented on #145
Yeah that's true. It will add a build step yes and probably a gulp watch or something to keep compiling as you save.

Ok, scrap it. One for the future maybe. I'll close the task.

[2018-10-02 05:15] #145 closed

[2018-10-02 05:18] #148 closed

[2018-10-02 05:52] #121 closed

[2018-10-02 05:57] richie-south opened #172 "Labels for "other projects" list items in "helpful material" page"
Add difficulty label's (easy, medium, hard) for "Other Projects" list items so people can know the level of difficulty to contribute to that project. Each project should be able to have multiple labels ex: easy and medium.

[2018-10-02 06:12] richie-south opened #174 "Remove all inline styles"
Move all inline styles to seperate css files

[2018-10-02 06:44] ujjawaljaiswal2017 commented on #174
I am interested.

[2018-10-02 06:51] andrewfehrsen opened #180 "Getting started documentation error"
the clone command has an error in it:

git clone https://github.com/your-username/hacktoberfest.git.git

Should be:

git clone https://github.com/your-username/hacktoberfest.git

[2018-10-02 06:56] VirtualRcoder commented on #174
I have completed this issue

[2018-10-02 07:15] WanielDeiss commented on #172
I'll can do that! can i pick it up?

[2018-10-02 07:45] dalvia62 commented on #180
Issue Solved
Thanks for notifying us
Request fulled

[2018-10-02 08:03] andrewfehrsen commented on #180
Great!

[2018-10-02 08:39] CleverFool77 opened #193 "Change colour of button and text Start Hacking to Color which is compatible with fire emoticon"
The fire emoticon is gradient Color of three or more..which isn't compatible with the currently existing button Color.It would be better to go with complementary Color.

[2018-10-02 08:42] CleverFool77 commented on #81
Adjust positioning with respect to android too.As it is shifted to one corner.

[2018-10-02 08:53] Vishal1541 commented on #193
I would like to take this issue. :)

[2018-10-02 09:59] richie-south commented on #172
@WanielDeiss Yes of course 😃

[2018-10-02 10:42] Evie-Skinner18 commented on #48
Do you like cheese? I would like to add a page dedicated to cheese if that's ok.

:cheese:   :tada:  :smile:

[2018-10-02 13:30] coderhawk999 commented on #193
added new look for button "hacktober fest look"
@lingonsaft look into #234

[2018-10-02 14:45] BennyCarlsson opened #244 "Sort Other projects"
In helpful material page the other projects list is getting big.
Please sort this into two one "Beginner friendly" and one Nornal

[2018-10-02 15:36] richie-south opened #248 "Formatting of html"
Format html

This will probably create a lot of conflicts with other pull request but it is something that has to be done

[2018-10-02 15:36] richie-south opened #250 "Formatting css"
This will probably create a lot of conflicts with other pull request but it is something that has to be done

[2018-10-02 15:37] richie-south opened #251 "Remove inline javascript"
Move all inline javascript to separate .js files

[2018-10-02 15:39] mohammad-aliB commented on #251
Hi I’m interested in the issue, when would I have to get this done by as I’m at schoool then work for the next 8 ish hours

[2018-10-02 15:46] Broccolai commented on #251
I'm going to work on this if thats okay

[2018-10-02 15:48] richie-south commented on #251
@mohammad-aliB At this rate this issue is probably resolved within the next hour. But when you get back their are probably new issues 😄

[2018-10-02 15:49] richie-south opened #252 "Menu links don't work"
The links in the top menu seams to have broken

[2018-10-02 15:52] nmcateer commented on #248
I'd be interested in helping with this. Is there any specific formatting guidelines you would like the HTML to follow for this?

[2018-10-02 15:55] richie-south commented on #248
@nmcateer I like 2 spaces... But no i don't know any html formatting guidelines.
Maybe we should write one down in the README file?

[2018-10-02 15:56] marataziat commented on #252
Have you also this error: https://prnt.sc/l1bycq ?

[2018-10-02 15:57] richie-south opened #254 "Social links always visible"
I think we should make the social links in the footer always visible instead of hidden behind a mouse press

[2018-10-02 15:58] richie-south commented on #252
Yes. I think the links shouldn't have .html in them but i don't know.

[2018-10-02 16:00] PallaviDas07 commented on #250
I am interested.

[2018-10-02 16:00] richie-south commented on #250
@PallaviDas07 Then go ahead 👍

[2018-10-02 16:01] LinaJohnson commented on #254
@richie-south I'd be happy to take this one.

[2018-10-02 16:02] richie-south commented on #254
@LinaJohnson Wouldn't have it any other way 😀

[2018-10-02 16:04] richie-south commented on #48
@Evie-Skinner18 We love cheese!! Think i saw your pull request and merged it? I read something about cheese any way 😆

[2018-10-02 16:04] parthpandyappp commented on #254
I'll like to contribute to this issue.!

[2018-10-02 16:04] AraanBranco commented on #252
I already have an idea how to solve

[2018-10-02 16:07] nmcateer commented on #248
2 spaces sounds good to me. Yes writing a short guide in the README might be beneficial - we could make a summarised outline of the W3 schools (https://www.w3schools.com/html/html5_syntax.asp) style guidelines? I can take this on as part of the formatting if desired.

[2018-10-02 16:07] richie-south commented on #252
@AraanBranco Great! This is critical to the site

[2018-10-02 16:08] richie-south commented on #248
@nmcateer You are the main person on this now!

[2018-10-02 16:13] AraanBranco commented on #252
See https://github.com/lingonsaft/hacktoberfest/pull/260 =)

[2018-10-02 16:15] Evie-Skinner18 commented on #48
Tack! Thank you for starting this project, happy coding!

[2018-10-02 16:18] #252 closed

[2018-10-02 16:18] richie-south opened #261 "We have a new page apparently add it to the menu"
cheese.html

[2018-10-02 16:29] richie-south commented on #251
@Broccolai i should close this now right?

[2018-10-02 16:32] Broccolai commented on #251
Yep! Close it :)

[2018-10-02 16:33] Broccolai commented on #251
Oh, and assign me and the other guy that worked on it 👍

[2018-10-02 16:33] #251 closed

[2018-10-02 16:34] 3daddict commented on #244
I'll give this a go it may take a bit

[2018-10-02 16:35] richie-south commented on #251
@Broccolai What do you mean with assign? How do i do that 🚶

[2018-10-02 16:39] Broccolai commented on #251
Don't worry, I forgot this was github and not gitlab. My bad 😛

[2018-10-02 16:44] praveen-me commented on #248
Can I work on it?

[2018-10-02 16:48] LinaJohnson commented on #254
@richie-south PR is open and available for review here: https://github.com/lingonsaft/hacktoberfest/pull/267

[2018-10-02 16:49] richie-south opened #270 "Service worker should update on page refresh"
Can we get the service worker to update on new page loads? I'm always getting an older cached version of the site after i reload.

[2018-10-02 16:49] praveen-me commented on #250
Can I work on this?

[2018-10-02 16:53] richie-south commented on #250
@praveen-me off course :)

[2018-10-02 16:58] nmcateer commented on #248
I'm afraid i have already made a pull request for this issue, but i'm sure there are some others on the list of issues that the project owner would love to have your help on @praveen-me !

[2018-10-02 17:02] focux commented on #250
@richie-south  By that you mean to prettify the code? If so, would you want a prettier config file to be include?

[2018-10-02 17:11] #254 closed

[2018-10-02 17:17] #244 closed

[2018-10-02 17:34] BennyCarlsson commented on #48
@Evie-Skinner18 I just logged in and saw that @richie-south merged the cheese haha wtf that is so random xD

[2018-10-02 17:36] BennyCarlsson commented on #81
looks like this is done closing issue :)

[2018-10-02 17:36] #81 closed

[2018-10-02 17:37] BennyCarlsson commented on #112
Think this is now fixed in one of the pr's will close this. If the problem still exists I will create another more up to date issue because now it's not the youtube video that is the problem

[2018-10-02 17:37] #112 closed

[2018-10-02 17:37] 3daddict commented on #270
I am having a similar issue. I'll look into it.

[2018-10-02 17:54] richie-south commented on #270
Merged a fix for this :) Hopefully we can close this sone!

[2018-10-02 17:57] BennyCarlsson commented on #250
Think this have been fixed for now

[2018-10-02 17:57] #250 closed

[2018-10-02 17:57] BennyCarlsson commented on #248
This is done for now

[2018-10-02 17:57] #248 closed

[2018-10-02 17:59] BennyCarlsson commented on #193
closing this issue for now :)

[2018-10-02 17:59] #193 closed

[2018-10-02 17:59] 3daddict commented on #270
Looks like the fixed worked!

[2018-10-02 18:00] BennyCarlsson commented on #174
Closing this for now might open a new issue about this in the future

[2018-10-02 18:00] #174 closed

[2018-10-02 18:01] BennyCarlsson opened #286 "Footer is to big at the moment"
Change design on footer is to big and wrong color at the moment :)

[2018-10-02 18:03] Broccolai commented on #286
Working on it!

[2018-10-02 18:04] BennyCarlsson commented on #172
closing this issue and opening a new one because I don't want easy-medium-hard

[2018-10-02 18:04] #172 closed

[2018-10-02 18:05] BennyCarlsson opened #287 "Remove dublicates from contribution page"
There are some dublicates in the contribution list/page :)

[2018-10-02 18:07] oleaalarsen commented on #287
I would like to take on this issue!

[2018-10-02 18:07] BennyCarlsson opened #289 "Sort "Other project""
In the page Helpful material sort the Other project list.
Want the links to be sorted into **Beginner friendly** and the rest

[2018-10-02 18:07] BennyCarlsson commented on #270
Good job closing this :)

[2018-10-02 18:07] #270 closed

[2018-10-02 18:08] BennyCarlsson commented on #287
@oleaalarsen Go ahead ;)

[2018-10-02 18:08] #287 closed

[2018-10-02 18:15] CruiseDevice commented on #286
Can you please elaborate on what color to use and how big it should be.

[2018-10-02 18:16] BennyCarlsson opened #291 "Add Easter Eggs!"
🥚

[2018-10-02 18:19] richie-south commented on #286
@CruiseDevice It should be the same as the header menu :)

[2018-10-02 18:20] BennyCarlsson opened #292 "FAQ last 2 cards are merged"
They should not be :P

[2018-10-02 18:27] sagarchoudhary96 commented on #291
@BennyCarlsson can you tell what we can do in this

[2018-10-02 18:28] BennyCarlsson commented on #291
@sagarchoudhary96  I don't know maybe a secret message in the consolelog ;)

[2018-10-02 18:36] PatrM commented on #289
I will work on this 👍

[2018-10-02 18:43] aayushbisen commented on #291
Hello sir , this is interesting.
Can I do this?

[2018-10-02 18:46] richie-south opened #298 "Social media links are hard to se in the footer"

[2018-10-02 18:48] richie-south commented on #291
@aayushbisen Yes this is an forever open issue so go ahead

[2018-10-02 18:49] BennyCarlsson opened #300 "Follow us on Twitter button"
People are not following us on twitter :( maybe add a follow twitter button?

[2018-10-02 18:50] BennyCarlsson opened #302 "Follow on Instagram Button"
We want people to see our pretty images on Instagram. :)

[2018-10-02 18:52] kev1nboer commented on #298
@richie-south I can pick this up. Anything you had in mind for the icons?

[2018-10-02 18:52] BennyCarlsson opened #303 "Subscribe to youtube button?"
We will make a timelapse video when this over :) people need to see it. Maybe add a subscribe to our youtube channel button?

[2018-10-02 18:53] wikiabhi commented on #300
i can work on this.

[2018-10-02 18:53] richie-south commented on #298
@kev1nboer Yes

[2018-10-02 18:54] kev1nboer commented on #298
Would changing the colour be enough?

[2018-10-02 18:56] richie-south commented on #298
@kev1nboer We kinda want the footer to have the same color as the top menu bar

[2018-10-02 18:58] kev1nboer commented on #298
@richie-south Alright, so changing the colour on the icons to white would be OK?

[2018-10-02 18:58] richie-south commented on #298
@kev1nboer Yes sounds smart 👍

[2018-10-02 18:58] LinaJohnson commented on #303
@bennycarlsson I can take this one!

[2018-10-02 18:59] xBytez commented on #302
will work on this.

[2018-10-02 18:59] kev1nboer commented on #298
OK! Im on it!

[2018-10-02 19:00] richie-south opened #305 "Fix footer on contributors page"

[2018-10-02 19:00] richie-south commented on #300
@wikiabhi Yes go ahead 👍

[2018-10-02 19:00] xBytez commented on #302
I believe they are already in the footer, or do you want seperate buttons on the page?

[2018-10-02 19:04] richie-south commented on #303
@LinaJohnson Ofc, Go ahead :D

[2018-10-02 19:05] Broccolai commented on #305
on it 😄

[2018-10-02 19:13] bitcolor opened #307 "Clicking "Hacktoberfest - by Lingonsaft" from the contributors page gives an ERR_FAILED"
This is caused by the button being linked to index.html rather than just the site like the rest of the pages do.

[2018-10-02 19:16] kev1nboer commented on #298
@richie-south #308 Added a pull request!

[2018-10-02 19:38] jaredstevick commented on #291
this sounds fun. i'll see what i can do.

[2018-10-02 19:46] NehemiahK opened #322 "Fix: Navigation Bar Breaking"
When clicking on 'tools' for example, you can't go back to home. This is true for other parts of the navigation as well

[2018-10-02 20:15] NehemiahK opened #326 "Change contributor cards to links"
The whole contributor card would be better if it was a link.

[2018-10-02 20:39] Crazzi-Boii commented on #326
I had removed the whole card and add a template such that it will generate different cards in 3 columns and multiple rows.

PR #224

[2018-10-02 20:40] Crazzi-Boii commented on #326
until and unless mainteners merge my code ppl will use the single card.

[2018-10-02 20:50] Utkarsh1308 commented on #322
Can I be assigned to this please

[2018-10-02 21:31] marekgebka commented on #291
Awesome! On it!

[2018-10-02 22:15] ryanlsmith4 opened #343 "Routes on index page and contributions"
I fixed the dead routes on the index and contributions page! Im still kinda new how do i push for you to verify and merge?

[2018-10-02 22:29] ryanlsmith4 commented on #343
remote: Permission to lingonsaft/hacktoberfest.git denied to ryanlsmith4. << this is my error

[2018-10-02 23:09] MADPT commented on #291
Nice, I'll create something. Muahahah

[2018-10-02 23:39] Nelson-Chinedu commented on #322
is the issue still open

[2018-10-02 23:44] MADPT commented on #291
Here you go #355

[2018-10-03 00:32] LinaJohnson commented on #303
@richie-south PR is available for review here: https://github.com/lingonsaft/hacktoberfest/pull/359

[2018-10-03 05:42] BennyCarlsson commented on #291
Seems like we got a few easter eggs in ;) You can keep doing them or fix mere conflicts in your pull requesta and we will merge them. Closing the ticket for now :)

[2018-10-03 05:42] #291 closed

[2018-10-03 06:17] BennyCarlsson opened #383 "Navigation bar broken on some pages"
The navigationbar broke on front page and does not look the same on all the pages

[2018-10-03 06:28] WYCodeBook commented on #383
I would like to give it a try to fix it ^_^

[2018-10-03 06:31] BennyCarlsson commented on #383
@WYCodeBook Go ahead :)

[2018-10-03 06:52] Pluppen commented on #343
@ryanlsmith4 https://youtu.be/DIj2q02gvKs

[2018-10-03 06:52] Kunamatata opened #391 "When hovering over a table element on the helpful material page, it goes over the footer."
I'll be creating a pull request with a different z-index for the footer the fix the issue.

[2018-10-03 07:10] #391 closed

[2018-10-03 07:37] richie-south opened #400 "Add "star on github" button in index.html"
Button in index.html to start repository on Github directly

[2018-10-03 07:46] Nerph commented on #400
I'll give this a go!

[2018-10-03 07:47] mufti1 commented on #400
wait for minute bro

[2018-10-03 07:48] richie-south commented on #400
@Nerph Thats is great! @mufti1 Hey and you could add one to contributors page

[2018-10-03 08:11] lazycipher opened #407 "Footer Nav "Social Links" is looking messed up !"
Issue :  Footer Social Links Looks different on Homepage
https://imgur.com/a/gfJn9ee

I would Like to work on this!

[2018-10-03 08:27] #303 closed

[2018-10-03 08:33] Broccolai commented on #407
Honestly maybe we should do something floating on the side of the page for social links, we're taking up a lot of room for them.

Maybe something like this?
![image](https://user-images.githubusercontent.com/28634904/46399351-59bf6900-c6ef-11e8-85c1-d5a2dcffa14f.png)

I'd be willing to take a crack at it if you'd want something more like this. 😄

[2018-10-03 08:37] mufti1 commented on #407
so change the icon or just fix footer? maybe can open issue to change icon

[2018-10-03 08:37] lazycipher commented on #407
Yup !! It's now showing up on website as of now !!

[2018-10-03 08:38] mufti1 commented on #407
just check my pull request i have fixed it

[2018-10-03 08:43] richie-south commented on #407
Hey i like that side bar thing 👍 Could someone try that and make a pull request?

[2018-10-03 08:44] richie-south commented on #407
@mufti1 Could you link you pull request here?

[2018-10-03 08:44] mufti1 commented on #407
my PR is merged now

[2018-10-03 08:48] mufti1 commented on #407
![image](https://user-images.githubusercontent.com/20008670/46400104-c7858800-c723-11e8-9c23-017324d4de7e.png)
why footer change again? anyone change this?

[2018-10-03 08:51] richie-south commented on #407
@mufti1  Looks fine for me! It might be cache, try opening the page in incognito :)

[2018-10-03 08:52] richie-south commented on #407
Think we should remove the service worker that caches the page or make so that it updates on every page reload

[2018-10-03 08:55] BennyCarlsson commented on #407
@mufti1 Took a while for me to get the update. Try inkognito mode

[2018-10-03 08:57] mufti1 commented on #407
i see thankyou bro but i forgot to add my profile in contributor :D can i pull request this?

[2018-10-03 08:58] richie-south commented on #407
Closing this issue :) Think we should open a new one about service worker removal / cache fix do

@mufti1 Yes of course!

[2018-10-03 08:58] #407 closed

[2018-10-03 09:07] mufti1 commented on #407
@richie-south can merge my pull request in contributing.html?

[2018-10-03 09:08] Broccolai opened #414 "Making the site 100% mobile friendly - report issues"
I’m going to be working on this after class.
So far I’ve got

- home page has too much width allowing for mobile users to scroll horizontally
- cheese page is completely broken

Add anything I’ve missed and I’ll fix it soon 😄

[2018-10-03 09:10] richie-south commented on #414
You are a 👑 You should be prepared for lots of conflicts by then 😊

[2018-10-03 09:53] Myles2 opened #419 "Grammatical errors on helpful material page"
I would like to fix certain grammatical errors on the helpful material page.

[2018-10-03 09:56] richie-south commented on #419
Spelling is not my strong side so go ahead 👍

[2018-10-03 10:06] Broccolai commented on #414
Can’t wait :’)

[2018-10-03 10:19] ApoTheOne opened #421 "Duplicate URLs in helpful material's Guide section"
Duplicate [URLs](https://github.com/lingonsaft/hacktoberfest/blob/d85c2efb0513fc034ee15b4ca68d26d9549d98bd/helpful-material.html#L132) in helpful material's Guide section:

https://github.com/lingonsaft/hacktoberfest/blob/d85c2efb0513fc034ee15b4ca68d26d9549d98bd/helpful-material.html#L136

[2018-10-03 10:34] #421 closed

[2018-10-03 10:36] darshan934 commented on #421
Can I work on this issue? Only the duplicate URLs need to be taken out from helpful-materiail.html, right?

[2018-10-03 11:06] Myles2 commented on #419
I was able to fix some of the grammatical errors but when I try to push the commit I get an error: 403 does anyone know why?

[2018-10-03 11:10] richie-south opened #427 "Service worker cache to strong"
In my experience service workers are not a good fit for a project that updates multiple times a day. I'm constantly viewing an older version of the site. Is there any way to control how strong the caching is or should we remove it entirely? 🤔

[2018-10-03 11:11] richie-south commented on #419
Watching this video might help ⛑ https://www.youtube.com/watch?v=DIj2q02gvKs&feature=youtu.be

[2018-10-03 11:14] sn149 commented on #427
Try putting this in your head tags
`<meta http-equiv="cache-control" content="no-cache">`

[2018-10-03 11:17] richie-south commented on #427
@sn149 Does this control the Service Worker? If so could you make a pull request with this? 👍

[2018-10-03 11:30] sn149 commented on #427
i'm not sure :sweat_smile:

[2018-10-03 11:50] Myles2 commented on #419
Thanks for the link I've watched that video quite a few time it was helpful! But my problem ended up being that since I had forked the Hacktoberfest project on your personal page previously it wouldn't let me fork the new one which in turn stop me from commiting or pushing anything to the new one. But I finally figured it out!

[2018-10-03 12:14] BennyCarlsson commented on #298
merged the pull request

[2018-10-03 12:14] #298 closed

[2018-10-03 12:15] #286 closed

[2018-10-03 12:15] BennyCarlsson commented on #286
Good job :)

[2018-10-03 12:20] Broccolai commented on #414
Laptop is about to die and I don't have my charger but, index.html has been fixed with #436

[2018-10-03 12:32] BennyCarlsson commented on #414
@Broccolai Oh I see :P

[2018-10-03 13:42] chamow97 opened #450 "[UI] Blue theme, text not clear."
When we change to Blue theme, the main text is not clear and visible(feeble), may be a bolder text will do I guess.

[2018-10-03 13:54] abhaymaniyar opened #453 "The footer "Social Links" is not centrally aligned"

[2018-10-03 13:56] abhaymaniyar opened #455 "Theme switches to default when navigating through menus"
The theme should be persistent throughout the user's session.

[2018-10-03 14:00] abhaymaniyar opened #456 "Two "Tools" menu item in nav bar at index.html"

[2018-10-03 14:05] MrTim commented on #453
I'll take care of it

[2018-10-03 14:17] abhaymaniyar opened #461 "Shaking text in body while hovering over nav bar items"
Once a page loading completes hovering over nav bar items makes the text in the body of the page shake. This is most notable in "Tools" page.

[2018-10-03 14:25] ronlaniado opened #464 "Cheese menu item is broken"
I'll try to give it a go

[2018-10-03 14:49] BennyCarlsson commented on #453
Great looks much better now :)

[2018-10-03 14:50] #453 closed

[2018-10-03 14:52] BennyCarlsson commented on #456
Thanks for fixing this issue :)

[2018-10-03 14:52] #456 closed

[2018-10-03 14:56] BennyCarlsson commented on #48
We have a lot of new features closing this for a while :)

[2018-10-03 14:56] #48 closed

[2018-10-03 14:57] BennyCarlsson commented on #289
Thanks for fixing this! Looks great :)

[2018-10-03 14:57] #289 closed

[2018-10-03 15:00] parthpandyappp commented on #305
I will be very delighted to do it.

[2018-10-03 15:39] MrTim opened #478 "Fix footer in Invert mode"
Footer stays at the very bottom of the page if switched to Invert mode

[2018-10-03 15:39] MrTim commented on #478
On it.

[2018-10-03 16:06] #305 closed

[2018-10-03 16:18] richie-south commented on #461
@abhaymaniyar  Could you post a gif or a video of this?

[2018-10-03 16:31] richie-south commented on #450
Do we have a blue theme? 🤣

[2018-10-03 16:32] richie-south commented on #343
Closing this for now

[2018-10-03 16:32] #343 closed

[2018-10-03 16:32] richie-south commented on #322
Closing this for now

[2018-10-03 16:32] #322 closed

[2018-10-03 16:33] richie-south commented on #326
Closing this for now :)

[2018-10-03 16:33] #326 closed

[2018-10-03 16:35] richie-south commented on #383
Closing this for now :)

[2018-10-03 16:35] #383 closed

[2018-10-03 16:35] richie-south commented on #419
@Myles2 We merged you fix right? 😃

[2018-10-03 16:35] #419 closed

[2018-10-03 16:35] #427 closed

[2018-10-03 16:36] #300 closed

[2018-10-03 16:38] #302 closed

[2018-10-03 16:40] richie-south opened #482 "Same hover effect on "start hacking" button as on "subscribe" button in index.html page"
I want the "start hacking" button to have the same hover effect as "subscribe" button in index.html file

[2018-10-03 16:43] richie-south opened #483 "Add a new page"
We already have `cheese`, `potato`, `Fireworks` (might miss one or two) can we add more pages dedicated to awesome stuff?

[2018-10-03 16:44] richie-south opened #484 "Add easter egg"
Add an easter 🥚

[2018-10-03 16:46] bhagatparwinder commented on #482
I can do it

[2018-10-03 16:49] ElenaMLopez commented on #482
im doing....

[2018-10-03 16:49] ElenaMLopez commented on #482
X)

[2018-10-03 16:49] richie-south opened #485 "Rearrange video cards in index.html"
I think it is better to switch places of the "How to Pull request [Overview]" and "Here are some tips on what to do!" cards.

So to be clear on the first row we would have "Hacktoberfest Intro" next to "Here are some tips on what to do!" and on the second row have "How to Pull request [Overview]" next to "How to solve merge conflicts"

[2018-10-03 16:51] richie-south opened #486 "More love <3"
We have one heart on the index.html page can we show love any where else?

[2018-10-03 16:56] cassadab commented on #485
I'd be happy to work on this one!

[2018-10-03 16:56] Norech commented on #484
I'll take this 😄

[2018-10-03 16:58] saurabhkoshatwar commented on #482
i m doing

[2018-10-03 16:59] #482 closed

[2018-10-03 17:03] 00aney commented on #486
I want to take it.

[2018-10-03 17:03] richie-south commented on #484
@Norech This is open for everybody 😃

[2018-10-03 17:03] richie-south commented on #486
@00aney Yes :)

[2018-10-03 17:04] ronlaniado commented on #483
I'll add a page

[2018-10-03 17:06] richie-south commented on #483
@ronlaniado Great :D

[2018-10-03 17:19] #485 closed

[2018-10-03 17:38] lomitaswa commented on #486
May i help?

[2018-10-03 17:39] lomitaswa commented on #483
I wanna help you here.

[2018-10-03 17:43] AnitaOlsen commented on #483
I would love to help!

[2018-10-03 17:52] pavocejudo commented on #464
I can try to fix it

[2018-10-03 18:01] saurabhkoshatwar commented on #450
May i help?

[2018-10-03 18:37] satya-vinay opened #517 "Typo at index.html"
In Contribution Rules:

![typo](https://user-images.githubusercontent.com/16017648/46431381-451fb700-c769-11e8-8919-1cdd8f2541fb.png)

**Contributors** is misspelled as  ->Contributers

[2018-10-03 18:44] Avicted commented on #517
@satya-vinay May I provide a fix for it?

[2018-10-03 18:53] AnitaOlsen commented on #486
I would love to help :)

[2018-10-03 18:57] satya-vinay commented on #517
@Avicted ya sure.

[2018-10-03 18:59] Avicted commented on #517
Pull request provided: #522

[2018-10-03 20:02] 7otk opened #539 "Some of the URL links do not work in the navigation."
In the navigation some of the links do not work. This is due to some file extensions missing.

[2018-10-03 20:05] CQW-Code commented on #48
oop... realized this was closed..:(  I already forked and cloned and did some fixing too. I hope this opens soon.

[2018-10-03 20:09] #539 closed

[2018-10-03 21:08] jcat1504 commented on #483
Can I add a "Cats and Code" page?

[2018-10-04 03:09] lmberman opened #566 "Moving Nav bar to external html to remove redundency"
The Nav bar values are copied in each html. This causes in consistency of links in the nav bar for each page.

I'm working on this now. Stay tuned.

[2018-10-04 03:40] #566 closed

[2018-10-04 03:40] lmberman commented on #566
I am closing this because someone already made this change.

I need help I am having issues pulling the newest code from this repository. Any suggestions?

[2018-10-04 03:54] saurabhkoshatwar commented on #450
Need any changes

[2018-10-04 04:09] chamow97 commented on #450
We can change the text to be a bit more bolder.

[2018-10-04 04:16] theREALaltoid commented on #483
@jcat1504 Yes. I support.

[2018-10-04 05:17] richie-south commented on #483
@jcat1504 Me to!!

[2018-10-04 05:27] richie-south commented on #464
@pavocejudo Can you link your pull request here? 😃

[2018-10-04 05:27] #464 closed

[2018-10-04 05:31] richie-south commented on #566
You could delete your fork and create a new one :) Otherwise check out the videos in the readme file or index.html file :)

[2018-10-04 05:33] pavocejudo commented on #464
Of course :)
https://github.com/lingonsaft/hacktoberfest/pull/514

[2018-10-04 05:33] richie-south commented on #48
@CQW-Code I think you still should make your pull request 👍 Also i will create a new issue about new features now 😉

[2018-10-04 05:34] richie-south opened #571 "Add new features"
Features are awesome and we love them.
Please add more features <3

[2018-10-04 05:36] richie-south commented on #461
Closing this for now 😃

[2018-10-04 05:36] #461 closed

[2018-10-04 05:38] jlapitan opened #572 "add page template"
It's nice to have a basic page template and a guide

- header
-content
- footer

[2018-10-04 05:40] richie-south commented on #572
I agree 👍

[2018-10-04 06:07] BennyCarlsson commented on #307
I think this is solved if not I will reopen it :)

[2018-10-04 06:07] #307 closed

[2018-10-04 06:21] BennyCarlsson opened #577 "Mobile navbar/menu is broken"
Can't expand the menu on mobile

[2018-10-04 06:38] BennyCarlsson commented on #577
Nvm seems to be working now

[2018-10-04 06:38] #577 closed

[2018-10-04 06:45] richie-south opened #583 "Re design ideas"
Could we get some redesign examples in this thread, images, pull requests / what ever. How can we make this site extra beautiful? 💅

This is be open for everybody, you can't claim it 😃

[2018-10-04 06:46] #572 closed

[2018-10-04 07:15] mohamedkhaledyousef commented on #483
I can do it

[2018-10-04 07:20] jlapitan opened #588 "Request for OAUTH-TOKEN"
Need this to add new feature, currently testing via personal token

[2018-10-04 07:39] jofftiquez commented on #583
Hot pink is too distracting. Visitors might have a hard time focusing on the content.

[2018-10-04 07:44] BennyCarlsson commented on #414
Are you still working on this @Broccolai  ??

[2018-10-04 07:53] BennyCarlsson opened #592 "The navbar is getting crowded any ideas?"
All the new pages getting added is making the navbar messy.

My suggestion is to go back to the 3 standard navbars (Home,Helpful-Material, Contribution) and move the other navbars/feature somewhere else? Any suggestions?

[2018-10-04 08:28] syauqiahmd commented on #592
may i help you with create a few drop down menu from your navbar menu ?

[2018-10-04 08:37] BennyCarlsson commented on #592
@syauqiahmd  Go ahead :)

[2018-10-04 08:41] abhaymaniyar commented on #455
Totally! Go for it. @chamow97

[2018-10-04 08:52] abhaymaniyar opened #601 "Nav bar issues"
1. Nav bar is hiding page's content in Tools page.
2. Its position is not right in "Learn" and "Helpful Material" page.

[2018-10-04 09:16] jlapitan commented on #588
on the homepage a script is calling the github api to get stats of the repo

[2018-10-04 09:21] tokemarton commented on #601
I would love to take on it.

[2018-10-04 09:30] satya-vinay opened #608 "Repetition of Tools at Nav bar contributors.html"
There are two tools in the navbar of contributors.html

one of them is redirecting to wow.html, so change the name of it.

[2018-10-04 09:36] Broccolai commented on #608
Fixed with #609

[2018-10-04 09:38] Broccolai opened #611 "Invert on home page dos not toggle"
Tried to fix it but I'm not the best at Javascript, seems to be not adding the class to the bodies class list.

Tested on MacOS Chrome Canary and Firefox Nightly

[2018-10-04 09:40] satya-vinay opened #612 "Photos of contributors github profile is not shown in contributors.html"
Last time I saw that page photos of the contributors were shown but now only names are visible.

[2018-10-04 09:40] satya-vinay commented on #608
great :+1:

[2018-10-04 09:42] yasora099 commented on #608
fixed it

[2018-10-04 09:51] satya-vinay commented on #608
@Broccolai  @yasora099 Ask before you claim issues,only after claiming it start working on it.
It is standard practice to be followed when you contribute to open source projects.

[2018-10-04 10:09] AbidemiT commented on #612
Can i work on this?

[2018-10-04 10:17] exequiel09 commented on #611
I'll take a look and see what i can do :)

[2018-10-04 10:19] jlapitan commented on #612
better use github's api, need access tokens @richie-south

[2018-10-04 10:20] Broccolai commented on #601
Both issued fixed in #609

[2018-10-04 10:21] DCox2016 opened #617 "Helpful Material href is not working"
In Nav bar the Helpful Material href is not working. When clicked site is redirects to "Your File was not found".
![screen shot 2018-10-04 at 6 20 49 am](https://user-images.githubusercontent.com/17097992/46468163-afeae580-c79d-11e8-808f-23ac8f54f5e3.jpg)

[2018-10-04 10:21] Broccolai commented on #608
Sorry, I had it fixed locally for awhile before I saw this issue :p

[2018-10-04 10:21] DCox2016 commented on #617
I am taking this issue

[2018-10-04 10:38] AbidemiT commented on #583
change color from pink to green(#38ce59)

[2018-10-04 10:55] DCox2016 commented on #617
Cool I don't have permission to push

[2018-10-04 10:56] Broccolai commented on #617
Yeah, you need to fork it then make a pull request

[2018-10-04 10:57] DCox2016 commented on #617
ah ok thanks

[2018-10-04 11:31] saurabhkoshatwar commented on #450
Done!

[2018-10-04 11:42] d3vil0p3r opened #625 "Issue in header vertical alignment"
Header is not aligned perfectly to top, and also is overlapping over page's content. Here's the issue in action.
![header_issue](https://user-images.githubusercontent.com/4662916/46471754-932fcb80-c7f8-11e8-8c91-469712d8f3a1.gif)

**These issues have to be fixed.**

[2018-10-04 11:43] d3vil0p3r commented on #625
I am doing this.

[2018-10-04 11:47] Broccolai commented on #625
I've already fixed the overlapping in #609 waiting for a merge

[2018-10-04 11:54] d3vil0p3r commented on #625
@Broccolai you haven't address both the issues. Rest is upto the maintainers 👍

[2018-10-04 12:15] #612 closed

[2018-10-04 12:49] #611 closed

[2018-10-04 12:49] BennyCarlsson commented on #611
Good job looks like it's fixed :)

[2018-10-04 12:56] #625 closed

[2018-10-04 12:58] Broccolai opened #637 "List messed up in helpful materials"
Some entries are out of order and stacking with eachother

[2018-10-04 12:58] Broccolai commented on #637
Fixed it in #609

[2018-10-04 13:09] #637 closed

[2018-10-04 14:07] BennyCarlsson commented on #617
@DCox2016 Good job fixing this :)

[2018-10-04 14:07] #617 closed

[2018-10-04 14:08] BennyCarlsson commented on #608
This issue seems to have been solved 3 times so closing it xD

[2018-10-04 14:08] #608 closed

[2018-10-04 14:09] BennyCarlsson commented on #588
We will have a look at this and see if we can provide a oauth token :)

[2018-10-04 14:20] BennyCarlsson commented on #601
Thanks for fixing this :)

[2018-10-04 14:20] #601 closed

[2018-10-04 15:08] DCox2016 opened #651 "Broken nav links from helpful-material.html"
Nav links from the helpful-material.html do not working in local dev environment.
Links that are to be fixed.
Home
Contributors
Chesse
Tools
learn!

[2018-10-04 15:08] DCox2016 commented on #651
I will be taking this issue

[2018-10-04 16:18] satya-vinay commented on #592
Making drop-downs with sections like Tech, Entertainment,News would help i think.And put new pages into their related section.

[2018-10-04 16:49] Broccolai commented on #651
Why did you reopen this?

[2018-10-04 17:16] DCox2016 commented on #651
It seems that all nav links are broken for local dev. I only fixed the home page and helpful-material.html. If it was a reopen it should not have been it should of been a new PR. Please view gif below to see what I am talking about with the broking links.
![linknotworking](https://user-images.githubusercontent.com/17097992/46491071-aed6aa00-c7d7-11e8-884b-691c0e490557.gif)

[2018-10-04 17:18] Broccolai commented on #651
Ah okay, I assumed you fixed all of them in your last pull request.

[2018-10-04 18:29] BennyCarlsson commented on #450
Seemed to be solved. Good job :)

[2018-10-04 18:29] #450 closed

[2018-10-04 18:31] BennyCarlsson commented on #483
Seems like we got a lot of new awesome pages :) closing this but feel free to add more

[2018-10-04 18:31] #483 closed

[2018-10-04 18:35] BennyCarlsson commented on #484
Awesome Easter eggs everyone! You can keep them coming but closing the issue for now :) 🍆

[2018-10-04 18:35] #484 closed

[2018-10-04 18:36] BennyCarlsson commented on #486
@AnitaOlsen hehe pun intended?

[2018-10-04 18:37] BennyCarlsson commented on #486
Lots of love! ❤️ Keep the love going but closing the issue for now :)

[2018-10-04 18:37] #486 closed

[2018-10-04 18:41] BennyCarlsson commented on #592
@satya-vinay That sounds like a good idea

[2018-10-04 19:07] richie-south opened #685 "Remove duplicated content in index.html"

[2018-10-04 19:13] alexdriaguine opened #686 "make the SNEK game look nicer"
:snake: the SNEK game looks like something from the 90's (i have mad canvas skills i know /s).

Someone could make it look fancier :smile:

[2018-10-04 19:14] richie-south opened #687 "Clean upp header navigation"
Remove everything from the navigation except `home`, `helpful material` and `contributors` move everything else to a side drawer or a dropdown menu item that shows a list of every other items

[2018-10-04 19:15] shad-k commented on #685
@richie-south working on this.

[2018-10-04 19:19] Mitchell0625 commented on #687
I can work on this

[2018-10-04 19:19] richie-south opened #688 "Snek game high score section"
Whats your high score on Snek game?

PLAY THE GAME
https://hacktoberfest.lingonsaft.com/snek

[2018-10-04 20:36] DinahLin commented on #571
Hi, Can I work on this?

[2018-10-04 20:39] Broccolai opened #698 "Bad merge"
Someone hasn't merged correctly and theres tons of double content and bugs on the site now, I'm taking the home page but other people need to fix the others

[2018-10-04 20:41] Broccolai commented on #698
index page fixed with #700

[2018-10-04 20:50] CQW-Code commented on #571
Yikes... after I fixed all the broken nav links and a few other house keeping- I see some issues were brought up and completed already.... oh well hopefully my fixes are okay- couldn't help myself along the way.

[2018-10-04 20:52] CQW-Code commented on #698
I think there's a couple of merges pending--  I just put a pull request in before I saw all the new issues after #571 - I fixed all the broken links in all of the pages on my end (it's the QA Tester in me.... had to play with EVERYTHING...).  We'll see.

[2018-10-04 20:53] Broccolai commented on #698
Didn't even notice the broken links, main issue is most of the content repeating 😛

[2018-10-04 20:59] CQW-Code commented on #698
I didn't see any duplicates- or not as much as yours lol, as I forgot to fetch  before I sent my stuff up 😛  so missed all the duplicates floating around.

[2018-10-04 21:01] Broccolai commented on #698
Helpful materials page is the worst 😮
<img width="1132" alt="screenshot 2018-10-04 at 22 00 29" src="https://user-images.githubusercontent.com/28634904/46502838-03524780-c821-11e8-8fae-dfc93742523b.png">

[2018-10-05 00:38] CQW-Code commented on #698
:-O  That's not what it looked like for me!  there was no big heart.  (Imma gonna go hide now if anyone sees the contributers page I spruced up lol) Red on pink.... horrible for a low vision individual.

[2018-10-05 05:35] richie-south commented on #687
Looks like this is fixed now :D

[2018-10-05 05:35] #687 closed

[2018-10-05 06:40] gagandeepp commented on #698
@richie-south  can I work on this?

[2018-10-05 06:52] BennyCarlsson commented on #592
We now have a drop down but only for index.html anyone care to fix it on all the other pages?

[2018-10-05 06:56] richie-south commented on #698
@gagandeepp I think we have a couple of pull requests fixing this but they all have conflicts in them right now. But because this is a critical issue you can go ahead and work in it to 👍

[2018-10-05 09:09] #685 closed

[2018-10-05 09:11] richie-south opened #718 "Remove duplicated content in helpful-material.html"

[2018-10-05 09:12] richie-south commented on #698
We have merged a fix for index.html but are looking for a fix in helpful-material see #718

[2018-10-05 09:17] rafagarciac commented on #718
**Ready to do !!**
I would like to know, what exactly it's a duplicated content in the helpful-material.html
Because I see a lot of links `<a href = "x"> .... </a>`

[2018-10-05 09:20] richie-south commented on #718
@rafagarciac If you look at this image we have multiple instances of `helpful material` title and would only like to keep one of those :)

<img width="1295" alt="screen shot 2018-10-05 at 11 18 44" src="https://user-images.githubusercontent.com/8655479/46527098-73e47d00-c890-11e8-9845-05723bd059ae.png">

[2018-10-05 09:46] richie-south commented on #718
Closing this because its is now fixed with #720 😃

[2018-10-05 09:46] #718 closed

[2018-10-05 09:47] richie-south commented on #698
We have now removed duplication from helpful material #720 Closing this issue now :)

[2018-10-05 09:47] #698 closed

[2018-10-05 10:07] rafagarciac commented on #718
@richie-south
Good Job @sarahperea, but you missed a lot of **unnecessary & duplicated** code and content...
I think that I'm doing one better version and maybe we'll have to re-open the issue.
Thanks for your attention.

[2018-10-05 11:10] richie-south commented on #718
@rafagarciac Make you changes and then notify me here :)

[2018-10-05 12:28] HJain13 commented on #592
Taking this up

[2018-10-05 12:37] BennyCarlsson commented on #592
@HJain13 Great looking forward to it ;)

[2018-10-05 12:51] syauqiahmd commented on #592
hi @HJain13, I already done that

[2018-10-05 12:53] alexdriaguine opened #730 "Snek is broken"
The snek game is broken right now, see the image
![image](https://user-images.githubusercontent.com/8626168/46536246-2e36ad00-c8ae-11e8-8cdd-da67a43fefb0.png)

The Play-button needs to have the class `.snek-play`, since that's what querySelector is looking for.

Could be a good time to add the snek styles to a stylesheet instead of setting them in javascript aswell :)

[2018-10-05 12:57] #592 closed

[2018-10-05 12:57] richie-south commented on #592
Awesome 👍

[2018-10-05 13:58] BennyCarlsson opened #736 "Navbar "Others" is broken"
The Others button in navbar is broken

[2018-10-05 13:59] BennyCarlsson commented on #583
Closing this for know feel free to keep working on design

[2018-10-05 13:59] #583 closed

[2018-10-05 14:02] BennyCarlsson opened #737 "Implement the new Design on index.html to the other pages"
Starting page have a new look. Update the other page to start matching it.

(Can be small pull request to start looking like it doesn't have to be the whole page)

[2018-10-05 14:12] casmith205 commented on #730
ill take this one!

[2018-10-05 14:17] m4tr1k commented on #737
@BennyCarlsson I can do it! Can I just PR a few pages or just one?

[2018-10-05 14:21] viveksdf commented on #737
@BennyCarlsson I am also trying to make some design changes

[2018-10-05 14:27] BennyCarlsson commented on #737
@m4tr1k @viveksdf both can go ahead and go crazy ;) just remember that bigger pull requests are harder to merge because we get a lot of pull requests :)

[2018-10-05 14:31] juliegoat commented on #736
On it!

[2018-10-05 14:33] richie-south commented on #736
@juliegoat Awesome 💛

[2018-10-05 14:33] richie-south commented on #730
@casmith205 Wihoo 👍

[2018-10-05 14:57] viveksdf commented on #737
@BennyCarlsson Nothing to change in index.html as its already clean but added a link to my mean stack demo repo. Its okay for a PR right?

[2018-10-05 15:01] keeganthomp commented on #736
ah, dangit! @juliegoat I just now saw your comment after submitting PR...When I started 30 mins ago there were no dibs. My apologies Julie!!

[2018-10-05 15:02] casmith205 commented on #730
https://github.com/lingonsaft/hacktoberfest/pull/740

fixed here

[2018-10-05 15:32] BennyCarlsson commented on #730
@casmith205  Great job fixing this :) closing issue 🐍

[2018-10-05 15:32] #730 closed

[2018-10-05 15:34] BennyCarlsson commented on #737
@viveksdf Yeah go ahead. You can add or change almost anything even if there is no issue ;)

[2018-10-05 15:38] richie-south commented on #736
Could we get it like a hover dropdown that don't change the hight of the nav bar?

[2018-10-05 15:42] #7 closed

[2018-10-05 15:42] richie-south opened #743 "Add More guides"
Add more guides for making pull request under **Helpful Links**

[2018-10-05 15:45] #6 closed

[2018-10-05 15:46] richie-south opened #744 "Add other projects"
Under **Helpful Material** -> **Other projects** add some other good projects that people can contribute to. Either your own project or any that you find interesting 😃

[2018-10-05 15:50] richie-south commented on #414
We have been updating the page a lot so closing this issue for now, but feel free to continue your work if you want to 👍

[2018-10-05 15:50] #414 closed

[2018-10-05 15:51] richie-south commented on #455
Don't think this issue is still relevant so closing this :) But if i'm wrong feel free to say so 😉

[2018-10-05 15:51] #455 closed

[2018-10-05 15:52] richie-south commented on #651
@DCox2016 Can you or any one confirm that this is fixes or still an issue. Closing this until answered 👍

[2018-10-05 15:52] #651 closed

[2018-10-05 15:53] alexdriaguine commented on #688
![image](https://user-images.githubusercontent.com/8626168/46545771-8d54eb80-c8c7-11e8-8af2-d9831648c66f.png)

[2018-10-05 15:53] richie-south opened #745 "Weird `options` navigation on contributors page"
Should be like index.html

[2018-10-05 15:54] richie-south commented on #688
My best is 11 😞

[2018-10-05 15:56] richie-south commented on #588
As of right now we don't use the Github api on the page, so i'm closing this for now.

[2018-10-05 15:56] #588 closed

[2018-10-05 15:58] aniketbiprojit commented on #745
Will look into it.

[2018-10-05 16:01] richie-south commented on #745
@aniketbiprojit Great 👍

[2018-10-05 16:08] keeganthomp commented on #736
@richie-south yep! give me 15

[2018-10-05 16:10] richie-south opened #750 "Re add Github stats on the index page"
This script https://github.com/lingonsaft/hacktoberfest/blob/master/scripts/stats.js  add Github stats but it was removed when we updated the style of the index page. Could someone add it again?

[2018-10-05 16:17] silvericarus commented on #750
I'll take this one.

[2018-10-05 16:20] #736 closed

[2018-10-05 16:21] richie-south commented on #750
@silvericarus Yes go a head :)

[2018-10-05 17:12] Broccolai opened #762 "Navigation on contributors page is broken"
<img width="982" alt="screenshot 2018-10-05 at 18 12 28" src="https://user-images.githubusercontent.com/28634904/46549525-4288a300-c8ca-11e8-9fd9-66a8151064e8.png">

[2018-10-05 17:18] dhruv-gupta14 commented on #744
Hey there!
I can add some.

[2018-10-05 19:19] CQW-Code commented on #762
I think I fixed this with my pull request- #571 and #701
#571 #701

[2018-10-05 19:37] chef-danny-d opened #779 "Values link leads to 404"
the link under Other > Values leads to a 404 page. https://github.com/lingonsaft/hacktoberfest/blob/e33b90679682ebf35621d0a4e91206179c92c023/index.html#L104

[2018-10-05 19:45] kosijer commented on #779
I'm taking this one

[2018-10-05 19:49] Mandelliant commented on #743
@richie-south I'll add some. To be clear, you want more guides on how to make pull requests?

[2018-10-05 19:52] Broccolai commented on #762
Still looks the same to me 🤔

[2018-10-05 19:58] CQW-Code commented on #762
Hmm (I can't find that emoji).  I'd like to take a look again and see if I can fix it; I know Richie-South merged about 30 minutes ago.

[2018-10-05 19:59] Broccolai commented on #762
Yeah I know, i hard refreshed the page and tried in on seperate computers / browsers. Maybe it's just me or something to do with the service worker?

[2018-10-05 20:38] CQW-Code commented on #762
No idea but I did find that there were some missing closing tags in the contributers.html file. (that may have been me when I was resolving the conflicts).  Working on it right now.

[2018-10-05 20:55] disha-25 commented on #750
Resolved

[2018-10-05 21:16] aniketbiprojit commented on #745
@CQW-Code Yeah, they were fixed. The issue has been closed. It still doesn't show drop-down menu for others.

[2018-10-05 22:29] CQW-Code commented on #745
Yeah I'm having problems with that- the navbar button won't open anything (using the same as other pages like Tools and Helpful Material).

[2018-10-05 22:32] walidmujahid commented on #744
I can add some

[2018-10-06 07:16] BennyCarlsson commented on #779
Great :)

[2018-10-06 07:16] #779 closed

[2018-10-06 07:42] richie-south commented on #745
Looks like we don't have to option menu any more so closing this :)

[2018-10-06 07:42] #745 closed

[2018-10-06 07:43] richie-south commented on #762
Looks like we don't have an options menu any more so closing this :) :)

[2018-10-06 07:43] #762 closed

[2018-10-06 07:54] richie-south opened #832 "Navigation bar cleanup"
We only want to keep `home`, `helpful material`, `contributors` and `other` in the navbar then we want to place every other item as a dropdown alternative under `other` 👍

The menu is written in javascript right now and we would like to keep it that way :)

[2018-10-06 07:57] richie-south opened #833 "Rearrange videos in index.html"
We want to place the `Hacktoberfest Intro` video above the two other videos and make it a little larger

[2018-10-06 08:00] richie-south opened #834 "Sync faq"
The FAQ in the README.md and index.html is not in sync. Both should have all the questions

[2018-10-06 08:02] richie-south commented on #743
@Mandelliant Well yes bu also general git / programming guides :)

[2018-10-06 08:05] Cherrytone commented on #833
I'd like to give it a go.

[2018-10-06 08:06] richie-south opened #835 "Add social icons"
Add social links to our instagram, twitter and youtube in the navbar or in a footer or in a side bar you chose 😉

Twitter: https://twitter.com/lingonsaft1
Instagram: https://www.instagram.com/lingonsaftofficial/
Youtube: https://youtube.com/lingonsaft

[2018-10-06 08:07] richie-south commented on #833
@Cherrytone Okey 👍

[2018-10-06 08:13] richie-south opened #837 "Fix helpful-material page"
It looks kinda fu***d up

<img width="1412" alt="screen shot 2018-10-06 at 10 12 22" src="https://user-images.githubusercontent.com/8655479/46569084-5971d880-c950-11e8-989f-c0b2b37d66ee.png">

[2018-10-06 08:14] cTxplorer commented on #835
@richie-south can I work on this?

[2018-10-06 08:15] AnchalJain commented on #835
can I solve this issue?

[2018-10-06 08:27] zedd-08 commented on #834
Can I work on this?

[2018-10-06 08:29] lufunno commented on #835
add me

[2018-10-06 08:31] richie-south commented on #835
@lufunno 👍

[2018-10-06 08:32] richie-south commented on #834
@zedd-08 👍

[2018-10-06 08:34] ananthuc73 commented on #835
can i pull a request?

[2018-10-06 08:34] cTxplorer commented on #833
Apologies, that I started working on the issue without being assigned the task. Just came to know that it has been assigned to someone else.

@richie-south , you could merge @ChameeraD 's PR into the master :)

[2018-10-06 08:43] yoksanherlie commented on #837
I will try to fix it!

[2018-10-06 08:44] ananthuc73 commented on #832
can i pull a request?

[2018-10-06 08:44] ananthuc73 commented on #832
i will take this

[2018-10-06 08:45] BennyCarlsson commented on #832
@ananthuc73 Great go ahead :)

[2018-10-06 08:45] ananthuc73 commented on #832
ok

[2018-10-06 08:46] richie-south commented on #837
@yoksanherlie Go for it :)

[2018-10-06 08:46] #833 closed

[2018-10-06 08:48] BennyCarlsson opened #843 "Fix youtube video popup"
Youtube videos plays in a popup.

We don't want the popup. We want a regular imbedded youtube video

[2018-10-06 09:11] #835 closed

[2018-10-06 09:14] AnchalJain commented on #837
Can I fix this?

[2018-10-06 09:31] Casey-McCray commented on #837
Can I work on this?

[2018-10-06 09:41] Xenos5282 commented on #834
ohh man! I already did it... Sorry mate @zedd-08

[2018-10-06 09:47] Xenos5282 commented on #843
Can i try?

[2018-10-06 11:04] BennyCarlsson commented on #834
Well looks like it's done good job :)

[2018-10-06 11:04] #834 closed

[2018-10-06 11:27] BennyCarlsson opened #873 "Sidebar to big"
The sidebar wasn't suppose to be this big it should look more like this https://imgur.com/a/vMgw6C1

[2018-10-06 11:31] BennyCarlsson opened #874 "Stats.js doesn't display anything"
Stats.js used to display the stats for the repo. Can anyone fix this again?

[2018-10-06 11:32] JohJohan commented on #873
I will work on this

[2018-10-06 11:34] BennyCarlsson commented on #873
@JohJohan Great :)

[2018-10-06 11:37] BennyCarlsson opened #875 "The twist"
We used to have a button called **The Twist** that would make the videos on index.html spin

The code is still there in `index.js` but it doesn't apply to the current `index.html`

`let t = document.getElementById('twist').addEventListener('click', () => {
    let cards = document.querySelectorAll('.card')
    cards.forEach(card => {
        card.classList.toggle('spinCard');
    })
}, false)`

[2018-10-06 11:39] BennyCarlsson opened #876 "Not all pages are in the navbar"
We have a lot of pages that is not displayed under **Other** in the navbar

[2018-10-06 11:47] shubhamcr commented on #876
Can I work on this ?

[2018-10-06 11:53] Mandelliant commented on #743
@richie-south sounds good!

[2018-10-06 11:56] BennyCarlsson commented on #873
Great work :)

[2018-10-06 11:56] #873 closed

[2018-10-06 11:57] BennyCarlsson commented on #876
@shubhamcr Go ahead :)

[2018-10-06 11:57] thevenice commented on #874
working on it and navbar .

[2018-10-06 12:33] BennyCarlsson commented on #876
Great :)

[2018-10-06 12:33] #876 closed

[2018-10-06 12:35] BennyCarlsson commented on #832
Great work :)

[2018-10-06 12:35] #832 closed

[2018-10-06 12:35] BennyCarlsson opened #884 "Navigation other is now to long"
The **other** dropdown in navigation is to long all the pages can't fit

[2018-10-06 12:58] thevenice commented on #884
should we create sidebar or footer with all other options ?

[2018-10-06 14:45] shubhamcr opened #901 "Some names in contributors.html are not in accordance to the style."
<img width="1680" alt="screen shot 2018-10-06 at 8 14 51 pm" src="https://user-images.githubusercontent.com/20488600/46572501-82bc5400-c9a4-11e8-8e44-546585f110bd.png">

[2018-10-06 14:48] shubhamcr commented on #901
Can I fix this ?

[2018-10-06 14:58] shubhamcr commented on #901
Please attach label **bug** and **hacktoberfest**

[2018-10-06 14:59] Broccolai commented on #901
I'll work on this

[2018-10-06 14:59] Broccolai commented on #901
Fixed with #906

[2018-10-06 15:51] BennyCarlsson commented on #843
Awesome work :)

[2018-10-06 16:03] BennyCarlsson commented on #884
This is fixed now Awesome!

[2018-10-06 16:03] #884 closed

[2018-10-06 16:04] BennyCarlsson commented on #875
This already got fixed! :)

[2018-10-06 16:04] #875 closed

[2018-10-06 16:06] BennyCarlsson commented on #874
Awesome work

[2018-10-06 16:06] #874 closed

[2018-10-06 16:07] BennyCarlsson commented on #837
closing this for now will open again later. Feel free to keep working on it tough ;)

[2018-10-06 16:07] #837 closed

[2018-10-06 16:08] BennyCarlsson commented on #901
Great work

[2018-10-06 16:08] #901 closed

[2018-10-06 16:13] BennyCarlsson opened #920 "Helpful-Material page style"
The design does not look like index.html or contribution.html

[2018-10-06 16:18] kosijer commented on #920
I'll take this

[2018-10-06 16:35] moogacs commented on #744
@richie-south  I can add one which is mine for problem solving

[2018-10-06 18:35] #920 closed

[2018-10-06 19:37] BennyCarlsson commented on #737
closing this but feel free to keep working on it :)

[2018-10-06 19:37] #737 closed

[2018-10-06 19:38] BennyCarlsson opened #939 "Sidebar social media hover effect"
I'm missing a nice hover effect on the social media links in index.html :)

[2018-10-06 19:39] BennyCarlsson opened #941 "Style Helpful-Material page"
It's starting to look good but it can have some more improvements :)

[2018-10-06 19:43] BennyCarlsson opened #944 "Style the snek game"
https://hacktoberfest.lingonsaft.com/snek

Needs some improvement ;)

[2018-10-06 19:46] BennyCarlsson opened #945 "Potato page"
https://hacktoberfest.lingonsaft.com/potato

Needs some love maybe some styling?

[2018-10-06 19:48] Ayaz1997 commented on #939
I am working on this

[2018-10-06 19:48] BennyCarlsson opened #946 "Cheese page is completely broken"
https://hacktoberfest.lingonsaft.com/cheese

Need some fixes and maybe styling 🧀

[2018-10-06 19:48] BennyCarlsson commented on #939
@Ayaz1997 Great :)

[2018-10-06 19:50] BennyCarlsson opened #947 "Remove unused or duplicated code"
A lot of code in this project is now duplicated or unused. It needs to be located and removed.
Make sure the code is really not used and that you don't break anything ;)

[2018-10-06 20:16] SheW0lf commented on #946
oh not a broken cheese page! may I work on this?

[2018-10-06 20:19] dushivani commented on #947
I would like to give this a try.

[2018-10-06 21:13] CQW-Code commented on #947
I'd like to give this a go.

[2018-10-06 21:43] esausilva commented on #944
I will add some styling!

[2018-10-06 21:44] kheyrasantos commented on #945
Hello, I dont know the rules of the hacktoberfest but i can definitely style this for you :)

[2018-10-06 22:51] esausilva commented on #944
Submitted the pull request

[2018-10-07 00:09] henriquenasc commented on #947
Hello @CQW-Code ! In case you have to run a local server for the site to appear completely complete. This is because some things are loaded dynamically.

I for example rode on the server built into php with "php -S localhost: 8080". But there are several simple and legal local servers in various languages: D.

[2018-10-07 02:10] CQW-Code commented on #947
I can do local servers for React & Ruby & Rails lol but I don't think I've done one for HTML/CSS!  Time to google...

[2018-10-07 03:19] jakeraffe commented on #946
That is a broken cheese page. Can you assign me to this? Id like to attempt a fix.

[2018-10-07 03:37] anacdf commented on #744
Hello! I can do it as well :)

[2018-10-07 05:55] shekhuverma commented on #941
I am doing it

[2018-10-07 08:17] BennyCarlsson commented on #947
Will make an issue for the menu not working locally :)

[2018-10-07 08:18] BennyCarlsson opened #995 "Navbar not working locally"
The menu doesn't work locally when you open index.html

I want it to work locally without the need of starting a local server

[2018-10-07 08:20] BennyCarlsson opened #996 "Remove The twist from navbar"
In the navbar under **others** remove **The Twist** button

[2018-10-07 08:22] BennyCarlsson opened #997 "Social media icons gone in sidebar"
Somehow the youtube, instagram, twitter icons is gone from the sidebar on

[2018-10-07 08:27] pegasus-lynx commented on #996
I am on it

[2018-10-07 08:28] BennyCarlsson opened #999 "Helpful-material footer"
The footer in the helpful-material page doesn't really match the other pages. Style it or change it?

[2018-10-07 08:29] BennyCarlsson opened #1000 "Helpful-material page scroll up button"
The Scroll upp button in helpful-material page is missing the arrow icon. Redesign it or add the arrow

[2018-10-07 08:31] pegasus-lynx commented on #996
Where exactly the change is to be made?

[2018-10-07 08:32] BennyCarlsson opened #1001 "Fork me on github banner"
I think the website need a github banner in a corner

https://bit.ly/2BZ3Iom

[2018-10-07 08:34] BennyCarlsson commented on #996
probably just need to be removed from https://github.com/lingonsaft/hacktoberfest/blob/master/menu.json

[2018-10-07 08:39] frextrite commented on #1001
Can I add this?

[2018-10-07 08:47] BennyCarlsson commented on #996
Great it's fixed now :)

[2018-10-07 08:47] #996 closed

[2018-10-07 08:48] BennyCarlsson commented on #1001
@frextrite Go ahead :)

[2018-10-07 08:49] BennyCarlsson opened #1004 "Easter eggs!"
I think we need more easter eggs on the website 🥚

Go crazy!

[2018-10-07 08:51] pawansingh972 commented on #1000
@BennyCarlsson Can I take this?

[2018-10-07 08:52] BennyCarlsson commented on #1000
@pawansingh972 Go ahead :)

[2018-10-07 09:13] BennyCarlsson commented on #1000
resolved Good job :)

[2018-10-07 09:13] #1000 closed

[2018-10-07 09:14] pawansingh972 commented on #1000
Glad to help :)

[2018-10-07 09:36] BennyCarlsson commented on #997
Great work :)

[2018-10-07 09:36] #997 closed

[2018-10-07 09:38] pawansingh972 opened #1011 "Fork Me on Github button is not clickable"
Fork Me on Github button on homepage is not clickable

[2018-10-07 10:12] sanjay1999 opened #1016 "Link in others tab for Fireworks Page not working"
https://hacktoberfest.lingonsaft.com/fireworks - 404 Page Not Found

[2018-10-07 10:30] #939 closed

[2018-10-07 10:30] #1004 closed

[2018-10-07 10:46] jjones09 commented on #1016
Working on this

[2018-10-07 10:55] jlapitan opened #1021 "font-awesome not loading"
Font awesome css file is loaded but font-awesome is not showing on footer icons(social media accounts)

wrong css class assigned

[2018-10-07 11:02] frextrite commented on #1011
It is working correctly, try checking again.

[2018-10-07 11:08] frextrite commented on #999
Doesn't match with the rest of the website. Maybe not make it floating?

[2018-10-07 11:48] BennyCarlsson commented on #1016
fixed now thanks :)

[2018-10-07 11:48] #1016 closed

[2018-10-07 11:48] BennyCarlsson commented on #1011
works now great job :)

[2018-10-07 11:48] #1011 closed

[2018-10-07 11:49] BennyCarlsson commented on #1021
now it doesn't work in the sidebar :/

[2018-10-07 11:49] BennyCarlsson commented on #999
that would be a good start yes :)

[2018-10-07 11:54] frextrite commented on #995
Is there anything else other than 'now' you're using to deploy the site?

[2018-10-07 12:06] pawansingh972 commented on #1021
It is because of this commit

ed02c31c30b2ca2dac7d9f06bab9f95f1709a1bd

[2018-10-07 12:11] pawansingh972 commented on #1021
@jlapitan you should have changed this one too

https://github.com/jlapitan/hacktoberfest/blob/f97e05e11738358fdc8d700ef37c7e30e4dd85d9/index.html#L113

as

`	<div class="icon-bar">
  		<a href="https://twitter.com/lingonsaft1" class="twitter icons"><i class="fab fa-twitter"></i></a>
  		<a href="https://www.instagram.com/lingonsaftofficial/" class="insta icons"><i class="fab fa-instagram"></i></i

[2018-10-07 12:32] jlapitan commented on #588
should we user github api? https://github.com/jenkoian/hacktoberfest-checker#running-the-app

[2018-10-07 12:38] jlapitan opened #1033 "Add Microsoft hacktoberfest participation"
Add a shout-out or call to action button regarding the participation of Microsoft on hacktoberfest.

- https://open.microsoft.com/2018/09/18/hacktoberfest-2018-microsoft/
- https://open.microsoft.com/2018/09/30/join-hacktoberfest-2018-celebration-microsoft/
- https://opensource.microsoft.com/

![tshirt design](https://open.microsoft.com/wp-content/uploads/2018/09/Hacktoberfest-Blog.jpg)

More shir

[2018-10-07 12:55] richie-south commented on #995
@frextrite No we only use now :)

[2018-10-07 13:09] alekangelov commented on #999
@BennyCarlsson can I take this issue on? 😅

[2018-10-07 13:10] alekangelov commented on #999
@BennyCarlsson mind me taking this issue on? 😄

[2018-10-07 13:11] #1021 closed

[2018-10-07 13:54] pfistersimon commented on #999
need still help at this issue

[2018-10-07 15:06] vipulbhj opened #1041 "Github API rate issue, stats comes out to be NaN"
I purpose we replace the stats with a message which indicates such has happened and place a link to the repo. Or default values of some kind can be used. Let me know which one you prefer.

[2018-10-07 16:04] spverma536 opened #1047 "Home page logo issue"
On the home page the title of this website is hiding behind a github logo.

[2018-10-07 16:53] BraydenChumbley commented on #1047
I've fixed. Submitting the pull request in about 5 mins

[2018-10-07 17:11] jlapitan commented on #1041
We need to have github api token

[2018-10-07 18:35] jjones09 commented on #995
I've put in the above PR to fix this. Works locally for me and seems to be okay on the now deploy

[2018-10-07 19:12] BennyCarlsson opened #1064 "Navbar still not showing locally"
The menu.js script and menu.json doesn't work when you open index.html locally

I don't want the need to run a server locally for it to work

[2018-10-07 19:19] disisisid commented on #1064
I can take this.

[2018-10-07 19:35] anmol8399 commented on #1064
I wish to fix the issue.

[2018-10-07 20:01] BraydenChumbley commented on #1033
Pull request to solve this has been submitted. Just needs to be merged now.

[2018-10-08 01:01] mateossh opened #1082 "Inconsistent gaps between items on contributors page"
When someone's name is longer than 1 line, there's weird gap between items.

![2018-10-08-t-screenshot](https://user-images.githubusercontent.com/17083034/46589064-36047600-ca95-11e8-8ffd-f6cdf11736b1.png)

[2018-10-08 01:05] mateossh opened #1083 "Icon in "subscribe" button has weird margin"
Title is self-explanatory. Screenshot below
![2018-10-08-t-screenshot](https://user-images.githubusercontent.com/17083034/46589169-423d0300-ca96-11e8-8076-399d971ff920.png)

[2018-10-08 03:10] Oluwasetemi commented on #1082
what do you think can be done to solve the problem!!

[2018-10-08 05:14] Rahul255 commented on #1064
i can take this.

[2018-10-08 05:55] stalsania commented on #1082
Hi,
Is this issue already resolved? I see it fixed on live site.
![image](https://user-images.githubusercontent.com/25429050/46593819-7ba05d80-caec-11e8-9edb-43da5deecf72.png)

Thanks!

[2018-10-08 06:52] dennydap commented on #1083
Looks like I can get it fixed. Hold up

[2018-10-08 09:49] mateossh commented on #1082
I already fixed this issue

PR: #1084

[2018-10-08 09:49] mateossh commented on #1083
I already fixed this issue

PR: #1084

[2018-10-08 09:54] richie-south commented on #1064
Should be fixed in #1101

[2018-10-08 09:54] #1064 closed

[2018-10-08 09:54] richie-south commented on #995
Should be fixed in #1101

[2018-10-08 09:54] #995 closed

[2018-10-08 10:59] dennydap commented on #1083
Sorry, it was labeled as open in the hacktoberfest. Thought it wasn't done yet :)

[2018-10-08 11:04] richie-south commented on #1033
@BraydenChumbley Could you link it here? :)

[2018-10-08 12:54] abisummers commented on #946
I've changed some things- I've updated the ID's to class names since they were for styling and not for linking. And I've fixed some typos :)

[2018-10-08 14:28] BraydenChumbley commented on #1033
Pull request is here:

https://github.com/lingonsaft/hacktoberfest/pull/1069

[2018-10-08 15:43] richie-south opened #1132 "Fix: Contribution Rules "Don't" icon"
in index.html

[2018-10-08 16:05] CoryKelly commented on #1132
Is this issue available?

[2018-10-08 16:11] richie-south commented on #1083
Looks like this is fixed :) closing

[2018-10-08 16:11] #1083 closed

[2018-10-08 16:11] richie-south commented on #1082
Fixed: closing

[2018-10-08 16:11] #1082 closed

[2018-10-08 16:12] richie-south commented on #1047
@BraydenChumbley Could you link your pull request here? :)

[2018-10-08 16:14] richie-south commented on #947
The menu should work locally now :)

[2018-10-08 16:14] richie-south commented on #947
Closing this issue for now, If you have started working on this don't be afraid to submit an pull request 😉

[2018-10-08 16:14] #947 closed

[2018-10-08 16:15] richie-south commented on #946
Looks like it is still broken

[2018-10-08 16:15] richie-south commented on #941
Closing this for now great work everybody!!

[2018-10-08 16:15] #941 closed

[2018-10-08 16:17] richie-south commented on #1041
@vipulbhj @jlapitan  Could anybody link a guide for how i can generate this token?

[2018-10-08 16:17] richie-south commented on #1132
@CoryKelly Yes :)

[2018-10-08 16:26] richie-south opened #1138 "Highlight active nav bar item"
When you are on `home`, `helpful material` or `Contributors` the nav bar item should be highlighted somehow

[2018-10-08 16:54] frextrite commented on #1041
The stats.js file runs on client side right? So why does the API calls exceed 60(limit) and gives NaN?

Technically there should be a single call every page refresh.

[2018-10-08 16:56] vipulbhj commented on #1041
Actually what's happening is they have already done all the token stuff and everything. So when the stats.js file is loaded on your computer it counts as one hit via there key to github. Say 60 people visit the page. There you go limit reached.

[2018-10-08 16:58] vipulbhj commented on #1041
This has already been handled by me and is fixed by providing an error message stating that this has happened and a link to github repo. The live site has the updated code now if you want to check that out

[2018-10-08 17:16] TomerPacific commented on #1138
Hello,
if anyone hasn't taken this issue yet, I would like to. I would also appreciate any pointers you have in respect to the design (look and color) of the highlighted nav bar items.
Thanks

[2018-10-08 19:02] BraydenChumbley commented on #1047
The change was already merged into the master branch

[2018-10-08 20:12] meyfleur commented on #999
do you still need help with that?

[2018-10-08 20:43] albertm805 commented on #946
I can work on this.

[2018-10-09 04:36] TomerPacific commented on #1138
Created a [PR](https://github.com/lingonsaft/hacktoberfest/pull/1188)

[2018-10-09 04:52] CodeWeeD0 commented on #946
https://github.com/lingonsaft/hacktoberfest/pull/1154

can you confirm now whether it is broken or not?

[2018-10-09 05:27] richie-south commented on #588
@jlapitan It's the smartest idea 😛

[2018-10-09 05:29] richie-south commented on #745
@CQW-Code I'm sorry you pull request was forgotten or buried :) We get so many pull requests with so many random fixes that we cannot keep track och everything.

[2018-10-09 13:19] Anjibansal commented on #946
Can i work on this issue ?

[2018-10-09 13:28] richie-south commented on #946
@Anjibansal Absolutely

[2018-10-09 13:43] CodeWeeD0 commented on #946
Do you have any prototype design? If yes, i would like to see it. I can assure i'll be able to change the page to be clone of that prototype.

[2018-10-09 13:44] jeduardo824 commented on #946
Can i work on this issue ?

[2018-10-09 18:27] #1138 closed

[2018-10-09 18:29] BennyCarlsson commented on #744
closing this for now feel free to keep working on it :)

[2018-10-09 18:29] richie-south opened #1299 "Highlight active nav bar item"
Would be awesome if the active navbar item was highlighted so you know where you are 👀 🕵️‍♀️

[2018-10-09 18:30] BennyCarlsson opened #1300 "New links in Helpful Material Page"
Add more guides and stuff to the Helpful Material page

[2018-10-09 18:31] richie-south opened #1301 "Make the pages pop"
🍿

[2018-10-09 20:34] amanjain-aj commented on #1301
I wonder if you could make the issue more clear!!

[2018-10-09 20:36] simpslandyy commented on #1299
I'd like to try this one, what do you mean by highlighted?

[2018-10-10 02:57] CQW-Code commented on #745
@richie-south  No worries.. I can see that this is a popular repo/project.  It's happened to me before with losing parts of my code etc- part of learning!

[2018-10-10 05:29] richie-south commented on #1299
@simpslandyy Looked at it and left a comment 👍

Update: We have styles but i don't think it is in use anywhere, so issue is still up for grabs :)

[2018-10-10 05:31] richie-south commented on #999
Closing this issue and opening a new similar one :)

[2018-10-10 05:31] #999 closed

[2018-10-10 05:33] richie-south opened #1348 "Footer should be the same across pages"
We like the footer in `index.html` could we get the same one in `helpful-material.html` and `contributors.html` 👷‍♀️

[2018-10-10 05:41] Rahul-Vijay commented on #1348
I will work on this

[2018-10-10 05:44] richie-south commented on #1348
@Rahul-Vijay Yeaay 😃

[2018-10-10 06:50] iamxlr8 commented on #1348
Willing to work on this @richie-south .

[2018-10-10 06:54] #1299 closed

[2018-10-10 08:44] amanjain-aj commented on #946
Cheese Page Has Been Improved. Can you confirm whether it is still broken!!

[2018-10-10 08:45] fineanmol opened #1374 "Live Page Needed"
Check the Live page of Contributors. [Contributors](https://fineanmol.github.io/Hacktoberfest2k18/Contributors.html)
 Don't forget to spread love and if you like to give us a ⭐️

[2018-10-10 08:51] richie-south commented on #1374
I don't understand this issue 😕 Here is the real live page https://hacktoberfest.lingonsaft.com/contributors

[2018-10-10 08:52] richie-south commented on #946
@amanjain-aj it is vastly improved! But i would not say it is completely fixed :)

[2018-10-10 09:07] #1374 closed

[2018-10-10 10:38] Kirti0808 commented on #1301
Do you want different page links on the website to open up in new tabs ?!

[2018-10-10 10:58] richie-south commented on #1301
I'm sorry this was more of a joke 👅 Closing this :)

[2018-10-10 10:58] #1301 closed

[2018-10-10 13:39] ibuli commented on #946
#1390 I have updated the whole cheese page and removed unwanted items from the page.
Please have a look

[2018-10-10 13:44] JSmurf opened #1398 "Add Other Free Stuff"
Add a section detailing other opportunities to get free things, (Microsoft, Sendgrid, etc), so that others can find more opportunities to get shirts/stickers/etc.

[2018-10-10 14:28] GiorgioW commented on #1398
I think I'm taking it!

[2018-10-10 16:13] viditvarshney commented on #743
### #1309  **Spooky changes** , Added search button in helpful links section and and improve the iframe in spooky changes

[2018-10-10 16:15] viditvarshney commented on #1300
### #1309 **Added the search button in the contributors file to search the contributors**

[2018-10-10 17:13] JSmurf commented on #1398
Great! Maybe it'd be best to set up a page, and then people can add other things if they come up later in the month?

[2018-10-10 17:15] richie-south opened #1424 "Remove duplicated footer"
In `helpful-material.html` and `contributors.html` :)

[2018-10-10 18:09] BennyCarlsson opened #1434 "Too many pages?"
We have a lot of pages under "other" and a lot of pages that's not even in the navbar.

Any ideas how we should filter this?

[2018-10-10 18:14] richie-south opened #1435 "Extend pink to 100% width"
This pink / red section should have 100% width

![pink](https://user-images.githubusercontent.com/8655479/46756945-fa51f200-ccc8-11e8-9759-8e669b3f34fc.png)

[2018-10-10 18:17] max-ci commented on #1435
I can do that :)

[2018-10-10 18:18] richie-south opened #1436 "Random emoji drop"
On the index.html page it currently drops lots of 🥚's, could we randomise an emoji for every drop?

[2018-10-10 18:21] richie-south opened #1438 "Move tools.html page to navbar"
`tools.html` should be inte the navbar **not** under `other` 🔧

[2018-10-10 18:29] mbrandon32 commented on #1438
Ill take a look at it

[2018-10-10 18:31] Xol commented on #1438
I'd like to make a counter proposal: Maybe tools would fit better under "Helpful Material"?

[2018-10-10 18:35] richie-south commented on #1438
@Xol I like that idea but i think the `helpful material` page would get to crowded 🤔

[2018-10-10 18:38] mbrandon32 commented on #1438
It already does look crowded on there.   Do we feel it has enough content to warrant its own button?

[2018-10-10 18:42] richie-south commented on #1438
@mbrandon32 Hum you might be right, Maybe if we remove the `2018` word we get a little more space? :)

Here we have the [live link of a pull request](https://lingonsaft-hacktober-ryggolddyf.now.sh/) that moves tools to a separate button what do you all think?

[2018-10-10 18:48] mbrandon32 commented on #1438
I think that it looks to fit pretty well.  Removing 2018 would give us more room.  We could also look to decrease the space between the buttons as well.

[2018-10-10 18:50] mbrandon32 commented on #1438
Sorry little slow navigating around here still

[2018-10-10 18:51] Xol commented on #1438
Maybe with an custom accordion component[1] we could organize everything a bit better and save some space. But I'm not sure if its a good looking solution, though. :smile:

[1]https://getbootstrap.com/docs/4.1/components/collapse/#accordion-example

[2018-10-10 18:52] ijoosong commented on #1436
Hi! My father @hogusong wanted to give this a shot for hacktoberfest!

[2018-10-10 18:55] richie-south commented on #1438
I merged the solution, but i think we should open an issue to remove `2018` and maybe decrease space a little bit :) Would anyone want to create that issue? 🥇

[2018-10-10 18:55] #1438 closed

[2018-10-10 18:56] richie-south commented on #1438
@Xol If you have time to submit a pull request so we can se a live example of this? :)

[2018-10-10 18:57] Xol commented on #1438
I'm on it. :+1:

[2018-10-10 18:57] #1436 closed

[2018-10-10 18:58] richie-south commented on #1436
@ijoosong @hogusong I'm sorry looks like i merge a fix before reading this 😢

[2018-10-10 19:04] richie-south opened #1449 "Disable drop.js functions when using mobile"
Drop.js could cause lagg on mobile devices could we disable it when browsing with small screens :)

[2018-10-10 19:06] ijoosong commented on #1436
ah shoot okay.  Any other low hanging fruit you can see here? :)

[2018-10-10 19:08] ijoosong commented on #1449
Sounds like something @hogusong can try!

[2018-10-10 19:13] viditvarshney commented on #1434
@BennyCarlsson I think , We can make a new folder or a html page which is links to the main "Others" tag ,
and give all the links to the new HTML page or Folder

[2018-10-10 20:04] jonleopard commented on #1424
If this hasn't been completed already, I have a PR here #1464 :)
Cheers :)

[2018-10-10 20:59] Xol commented on #1438
#1470 My take on reorganizing the content with an accordion. If it's useful, we could take the content from _tools.html_ to the _Helpful Material_ site.

[2018-10-10 23:00] GabiLea commented on #1348
Can i work in this issue?

[2018-10-11 06:18] BennyCarlsson commented on #1434
@viditvarshney Yes that is one option. We are also considering removing all pages to get a "fresh start" :)

[2018-10-11 07:08] ibuli commented on #946
https://hacktoberfest.lingonsaft.com/cheese
Page looks good now.
@richie-south

[2018-10-11 07:29] BennyCarlsson commented on #946
Awesome work :)

[2018-10-11 07:29] #946 closed

[2018-10-11 07:31] amanjain-aj commented on #946
Thnks

On Thu, 11 Oct 2018, 13:00 Benny Carlsson, <notifications@github.com> wrote:

[2018-10-11 08:55] Nitrocoder commented on #1434
I'll take it on.

[2018-10-11 09:29] TremaineNeethling commented on #1449
@richie-south Is this still open? i would love to work on this.
What is the minimum screen width at which you want to make it rain? :)

[2018-10-11 11:10] parthpandyappp commented on #1033
I'll be very delighted to be a part of this contribution.

[2018-10-11 11:45] cTxplorer opened #1521 "Arrange videos in Learn (wow) page"
Currently, the video arrangement is ugly in [wow.html](https://github.com/lingonsaft/hacktoberfest/blob/master/wow.html). Make 'em look better!

[2018-10-11 13:41] BBhargavB opened #1530 "Add subtitles to videos"
Subtitles will help to understand,what's saying in the video clearly.

[2018-10-11 13:51] champagnepappi commented on #1521
Hi, leme work on this one

[2018-10-11 14:09] Hogusong commented on #1449
I am making PR right now.

[2018-10-11 14:20] cTxplorer commented on #1521
@champangmeappi go for it!

[2018-10-11 18:42] enriquezm commented on #1530
Would this be in the form of a transcript? Or subtitles to the original video source?

[2018-10-11 19:01] #1521 closed

[2018-10-12 13:50] jclopezdev opened #1612 "Fix duplicated content in Helpful Material section"
There are duplicated sections on the `Helpful material` page like `Additional Projects` and `Helpful Links`

<img width="1113" alt="screenshot 2018-10-12 08 49 29" src="https://user-images.githubusercontent.com/1099323/46873268-c3302d80-cdfb-11e8-92aa-d522d136c5b1.png">

<img width="1112" alt="screenshot 2018-10-12 08 50 18" src="https://user-images.githubusercontent.com/1099323/46873328-dc38de80-

[2018-10-12 14:04] jclopezdev commented on #1612
Working on it

[2018-10-13 05:54] swastikbanerjee07 commented on #1530
Can you please elaborate on the issue?
Which video?

[2018-10-13 07:48] vipulbhj commented on #1041
@christophwong What do you purpose ???

[2018-10-13 07:49] vipulbhj commented on #1041
@richie-south For next year, we will have a whole 11 months period and we will make more structured changes. Thank you for your appreciation.

[2018-10-13 15:02] enriquezm commented on #1530
@swastikbanerjee07 I believe it's the videos on the main README of the repo:
[Hacktoberfest Intro](https://youtu.be/OsAFX_ZbgaE)
[How to pull request Overview](https://youtu.be/DIj2q02gvKs)
[Merge Conflict / comment](https://youtu.be/zOx5PJTY8CI)

[2018-10-14 01:47] CQW-Code commented on #1530
I don't know exactly what they want but can tell you that 1. Transcript is good. 2. Subtitles or "open captions" even better but the captions would always be visible (not a bad thing) 3. Youtube does auto captions and you then can edit the file that's created to fix errors etc; I don't know if they're closed captions (able to toggle on and off).
-- From a user who uses captions every day (when the

[2018-10-14 16:35] enriquezm commented on #1530
@CQW-Code I wanted to edit the auto captions that Youtube generates, but I believe the video needs to be editable. Actually, I think I would need access to the edit screen on their youtube account?

[2018-10-14 18:17] msatul1305 commented on #1612
done 👍

[2018-10-15 13:16] richie-south opened #1831 "Remove styles from index.html"
Move all styles inside `index.html` to separate files 👍

[2018-10-15 13:18] mpaarating commented on #1831
I'll snag this one if thats ok!

[2018-10-15 14:08] AleSpreafico opened #1837 "Cannot make pull request"
sorry to bother
this is actually my first pull request ever xD

I did everything: Cloned the repo, than create my  custom-branc, than try to commit my changes.
But it says I do not have permission to push those changes!
how cane I do?

[2018-10-15 14:19] Jonathan-Montanez commented on #1837
Did you fork the repo?

[2018-10-15 14:19] Jonathan-Montanez commented on #1837
Did you merge your branch with the master?

[2018-10-15 14:40] rohit21p commented on #1831
it's still open, should I do it?

[2018-10-15 14:41] mpaarating commented on #1831
@rohit21p I have a PR up for it. Once its merged the `css/index.css` file could use a lot of organizing :D

[2018-10-15 14:48] AleSpreafico commented on #1837
`git clone https://github.com/lingonsaft/hacktoberfest.git Hacktober'
`cd Hacktober'
'git checkout -b button-branch'
then I did my changes (created html, css ....)
`git add .
git commit -m "My message"
git push origin button branch`

this is what id did and right after I got that problem

[2018-10-15 14:59] Jonathan-Montanez commented on #1837
it seems you did not merge your changes

[2018-10-15 15:20] bloqhead commented on #1831
I'd be happy to pitch in here if needed but it seems like you guys have a handle on it.

[2018-10-15 15:34] CQW-Code commented on #1530
yes you'd probably need access to their account, the other way is for whoever 'owns' the video can download the text file and send it to you.   Maybe the suggestions here may help (notably the video?).  https://www.quora.com/How-do-I-download-auto-generated-subtitles-in-YouTube

[2018-10-15 15:55] AleSpreafico commented on #1837
soved.... I didnt Forked it!! Thanks You helped me on my first pull ever!!! =)

[2018-10-15 15:55] #1837 closed

[2018-10-15 15:56] CQW-Code opened #1847 "Contributors.html list is not streamlined"
there are some block items that are not the same size as the rest- and a few that are colored differently (fine maybe?).  The red text is not readable when you hover over a contributor (currently darkish red hover).

side note:  red text/links are not very readable on the current blue background.

[2018-10-15 18:36] jordanchristie commented on #1847
Fixed the red text issue #1862

[2018-10-16 05:46] richie-south commented on #1831
I think this is fixed now :) If not tell me 😉

[2018-10-16 05:46] #1831 closed

[2018-10-16 06:20] cTxplorer opened #1896 "homepage is messed up"
| Issue | Solution |
| ------: | :-------- |
| Speedy animations | Slow down falling objects' speed |
|  | Slow down title's shaking speed |
| Too many objects | Reduce number of falling objects |
| Very dark background gradient | Change gradient to something lighter in color and easy on eye |

[2018-10-16 07:42] db586jf commented on #1896
I'll try it if I can

[2018-10-16 13:32] ShubhanshuGairola commented on #1896
i hope these changes would be appropriate corresponding to this issue

[2018-10-16 14:19] cTxplorer commented on #1896
@ShubhanshuGairola there's some glitch in animations - objects are lagging in my movile device. Also, can you fix second issue?

[2018-10-16 14:20] cTxplorer commented on #1896
Good work till now!

[2018-10-16 16:12] ShubhanshuGairola commented on #1896
I have tried to remove the glitch in animation of title

[2018-10-16 16:34] ShubhanshuGairola commented on #1896
this might remove the glitch

[2018-10-16 18:12] cTxplorer commented on #1896
@ShubhanshuGairola looks good to me, send a PR!

[2018-10-16 18:50] ShubhanshuGairola commented on #1896
#1943
I recently made a commit

[2018-10-18 08:32] BennyCarlsson opened #2030 "Delete pages!"
I think we have to many pages. **Please only delete 1 page per pull request**

Delete pages that are not working.

Delete pages that are not in any menu

Delete pages that are unnecessary

[2018-10-18 08:34] #1434 closed

[2018-10-18 08:35] #1041 closed

[2018-10-18 08:35] #1424 closed

[2018-10-18 08:35] #1847 closed

[2018-10-18 08:36] #1449 closed

[2018-10-18 08:36] BennyCarlsson commented on #1449
Good job :)

[2018-10-18 08:36] BennyCarlsson commented on #1612
Great

[2018-10-18 08:36] #1612 closed

[2018-10-18 09:11] BennyCarlsson opened #2034 "Broken internal links"
Since pages are getting removed the navbars and links in the bottom of pages are now up to date.

Please find and remove broken links :)

[2018-10-18 15:39] TremaineNeethling commented on #2034
Currently working on this.

[2018-10-18 17:50] MoyinShabi commented on #2030
Can I try this?

[2018-10-18 19:17] shubhe25p commented on #743
@Mandelliant Can we add an introductory video for git in #743?

[2018-10-19 04:32] Nisinghal commented on #2030
Willing to work on this!

[2018-10-19 08:51] pydevsg commented on #2030
Sir, can I work on this project.Is it open now?

[2018-10-19 09:01] pydevsg commented on #2030
Sir, I am working on it.
Will reach you soon with a pull request debugging the errors and resolving your issues.

[2018-10-19 09:19] richie-south opened #2108 "Page is totally broken :("
Anybody know why?

[2018-10-19 09:52] albanmahmut commented on #2108
får jag titta på detta?

[2018-10-19 09:55] richie-south commented on #2108
@albanmahmut yes 👍

[2018-10-19 10:00] albanmahmut commented on #2108
Ok, Lets see if we can find the solution.

[2018-10-19 11:55] pydevsg commented on #2030
Sir,please check my pull request and merge it if found valuable.

[2018-10-19 12:33] richie-south commented on #2030
@pydevsg great work :D

[2018-10-19 12:53] pydevsg commented on #2030
Thanks @richie-south

[2018-10-19 13:29] pydevsg commented on #2030
Here's the next pull request which I founded as a bug in the file ,please do see the update and merge it if found useful.

[2018-10-19 14:08] pydevsg commented on #2030
SIr, I am trying my best to make this project bug free removing damage files. Hope you all like it.

[2018-10-19 16:12] Mandelliant commented on #743
@shubhe25p @viditvarshney I haven't had an opportunity to work on this yet (not sure when I can get to it- hopefully before October ends!)

Feel free to take this on and add anything you can think of

[2018-10-19 18:35] richie-south opened #2146 "Implement navigation bar"
Our old navigation bar is apparently gone :/
So we should have a navigation bar on top of the page with links to `index.html (home)`, `helpful-material.html` and `contributors.html` 🔗

[2018-10-19 21:37] brownleya commented on #2146
Hi- recently implemented.

[2018-10-20 08:49] richie-south commented on #2146
@brownleya Link to pull request? :)

[2018-10-20 08:52] #2146 closed

[2018-10-20 19:16] BennyCarlsson opened #2171 "Move invert from navbar"
In the **Navbar** under **other** you will find invert. Remove invert from there and make it into a button on index.html

[2018-10-20 19:31] telenord commented on #2171
@BennyCarlsson Hi, I ready to solve it

[2018-10-20 19:47] BennyCarlsson opened #2175 "Implement drop.js again"
We had drop.js working before so it rained pretty stuff :)

Anyone feel like fix it?

[2018-10-20 20:18] qnoox commented on #2175
@BennyCarlsson ready to work on this.

[2018-10-21 13:38] #2175 closed

[2018-10-21 14:09] TLanetteRose commented on #2034
I'll give it a try!

[2018-10-22 08:32] biswaroop1547 commented on #2171
Sorry but I only found a link to an invert.js file in index.html, can you explain a little more what to change?
I am super new to open source.

[2018-10-23 06:45] vyaspranjal33 opened #2246 "social icons style"
Footer css should be same on all page right now social icons deafault behavoiur is black & on:hover it turns in to pink .. while helpful-material.html & contributors.html page social icon deafault behaviour is green & on:hover it turns in to sky blue
![image](https://user-images.githubusercontent.com/11768143/47340894-3750b800-d6bd-11e8-97d0-4b43c5db6ae9.png)

![image](https://user-images.githubus

[2018-10-23 08:28] BennyCarlsson opened #2249 "Homepage have 2 scroll bars"
Index.html on desktop have to Vertical Scroll bars.
It should only have one :)

[2018-10-23 09:02] NitinNair89 commented on #2246
Add the common style for footer's social media icons in footer.css. Which style do you prefer to keep - Black or Green?

[2018-10-23 09:03] NitinNair89 commented on #2108
Which page has the issue? Is this solved?

[2018-10-23 09:16] BennyCarlsson commented on #2108
@NitinNair89 I think this is solved forgot to close this :)

[2018-10-23 09:16] #2108 closed

[2018-10-23 09:18] BennyCarlsson commented on #2246
@NitinNair89 you can change to any color as long as it's consistent on all pages :)

[2018-10-23 09:19] #2249 closed

[2018-10-23 09:35] vyaspranjal33 commented on #2246
@NitinNair89  i think black would be good

[2018-10-23 09:47] NitinNair89 commented on #2246
Just plain black? Or Black and white toggle on hover? I feel black and white toggle would support the surrounding text

[2018-10-23 11:06] biswaroop1547 commented on #2171
@BennyCarlsson I just created a pull request for this #2254
please check if I am wrong anywhere, thanks!

[2018-10-23 11:11] biswaroop1547 commented on #2171
#2254

[2018-10-23 11:36] biswaroop1547 commented on #2171
#2254

[2018-10-23 12:48] BennyCarlsson commented on #2171
Great work :)

[2018-10-23 12:48] #2171 closed

[2018-10-23 13:19] vyaspranjal33 commented on #2246
@NitinNair89  black and pink toggle on hover

[2018-10-23 14:30] vyaspranjal33 commented on #1896
@BennyCarlsson i Think the project is messed :confused:

[2018-10-23 15:59] #1896 closed

[2018-10-24 08:46] vyaspranjal33 commented on #2171
@BennyCarlsson  #2254  seems its not fixed
![image](https://user-images.githubusercontent.com/11768143/47418205-460b9d80-d797-11e8-9e3f-66e94f900af3.png)

[2018-10-24 09:34] vyaspranjal33 commented on #2171
:+1:

[2018-10-24 14:21] iamj4james commented on #2246
@vyaspranjal33 I would Like to take on this issue

[2018-10-24 15:07] vyaspranjal33 commented on #2246
@iamj4james  go ahead

[2018-10-25 05:35] PatriziaT commented on #1348
Can I work on this?

[2018-10-26 20:54] jelgol commented on #2034
I want to see what I can do.

[2018-10-27 18:14] ramkrishn123 commented on #2030
I like to contribute to this project.

[2018-10-28 05:56] Abhishake1999 commented on #2030
I like to contribute to this project.

[2018-10-28 07:02] brunonepomuceno commented on #2030
#2438 👍

[2018-10-28 17:12] lstravers commented on #2030
2457 ✅

[2018-10-30 03:28] nicehatharry commented on #2246
Looks like somebody got creative with these, but they're all pink all the time! Mind if I change them to be black / pink on hover?

[2018-11-01 08:49] #743 closed

[2018-11-01 08:49] #1033 closed

[2018-11-01 08:49] #1348 closed

[2018-11-01 08:49] #1398 closed

[2018-11-01 08:49] #1530 closed

[2018-11-01 08:49] #2030 closed

[2018-11-01 08:49] #2034 closed

[2018-11-01 08:49] #2246 closed

[2018-11-01 08:57] BennyCarlsson opened #2593 "We are done!"
Hacktoberfest 2018 is now over! The website is in perfection and you all are awesome!

If you want more project from us follow us on youtube and social media!

THANK YOU ALL!

youtube.com/c/lingonsaft
https://twitter.com/lingonsaft1
https://instagram.com/lingonsaftofficial/

[2018-11-16 18:25] arshadkazmi42 opened #2599 "https://hacktoberfest.lingonsaft.com/ Homepage, shows countdown negative"
Homepage of the repo here
https://hacktoberfest.lingonsaft.com/
shows countdown in negative.

I think we should update it for next year's hacktoberfest and be ready with it.

Any thoughts?

[2018-11-18 09:45] BennyCarlsson commented on #2599
That sounds like a good idea :) want to make a pull request?

[2018-11-18 12:43] arshadkazmi42 commented on #2599
I will start working on it.